<section class="section-banner analytic-bg">
    <div class="textOverImage container text-center">
        <img class="img-fluid" src="~/assets/img/products/analytic/page-image.svg" width="55%" alt="" />
    </div>
</section>


<section class="sectionWrapper smartlogin-sec">
    <div class="container">
        <div class="section-title">
            <h2>VeriDoc Analytics </h2>
            <h4>leverages verifiable data and blockchain technology to provide quality insights.</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/analytic/img1.svg">
                    <p>
                        The ability to analyse data which is reliable because it is immutable, verifiable and
                        traceable is something that was not possible until now. By ensuring data quality, the
                        combination of big data and blockchain offers massive opportunities for organisations and
                        consumers.
                    </p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/analytic/img2.svg">
                    <p>
                        Product owners can view all sorts of data relating to their unique implementation of VeriDoc
                        Global technology, including time and location stamps, sign-in data, access logs, device
                        types used to scan QR codes, frequency of QR code scans, the length of sessions and
                        demographics.
                    </p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/analytic/img3.svg">
                    <p>
                        VeriDoc Analytics incorporates tools and data from technology partners such as AWS, Google
                        Analytics and VeriDoc Global’s proprietary technology.
                    </p>
                </figure>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper smartlogin-sec bg_darkBlue">
    <div class="container">
        <h5>Some use cases for VeriDoc Smart Login include:</h5>
        <div class="row">
            <div class="col-md-3">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/analytic/img4.svg">
                    <h6>Anti-counterfeit Solution</h6>
                    <p class="text-white">
                        Flagging counterfeits, assisting law enforcementand helping to prevent
                        counterfeits before they happen.
                    </p>
                </figure>
            </div>
            <div class="col-md-3">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/analytic/img5.svg">
                    <h6>Unauthorised Distribution and Grey Markets</h6>
                    <p class="text-white">
                        Flagging grey selling, discovering supply chain leaks and identifying
                        unauthorised distributors.
                    </p>
                </figure>
            </div>
            <div class="col-md-3">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/analytic/img6.svg">
                    <h6>Marketing Analytics</h6>
                    <p class="text-white">
                        Assessing brand loyalty, customer demographics, reducing costs and
                        increasing the success of loyalty programs.
                    </p>
                </figure>
            </div>
            <div class="col-md-3">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/analytic/img7.svg">
                    <h6>HR and Employee Analytics</h6>
                    <p class="text-white">
                        Attendance, employee job satisfaction and planning labour hours required
                        to deliver a project.
                    </p>
                </figure>
            </div>
        </div>
        <div class="text-center mt-4">
            <button type="button" onclick="location.href='../contact-us.html';" class="btn btn-primary custom-btn">Learn More</button>
        </div>
    </div>
</section>



<section class="sectionWrapper bg_lightGray key-benefit-sec">
    <div class="container">
        <div class="section-title">
            <h2>KEY features & BENEFITS</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/increase-trust.svg">
                    <h5 class="text_red">Increase in Trust</h5>
                    <p>Users can be verified without risking their privacy – a growing concern with biometrics.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/increase-safety.svg">
                    <h5 class="text_red">Increase in Safety</h5>
                    <p>Product owners are protected from shared logins, memberships and licences.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/increase-security.svg">
                    <h5 class="text_red">Increase in Security</h5>
                    <p>Data on the blockchain is immutable, secure and encrypted for the entire process.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/control-access.svg">
                    <h5 class="text_red">Controlled Access</h5>
                    <p>
                        Product owners have control over who can view and verify the sign-in data for audit purposes.
                    </p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/api-versa.svg">
                    <h5 class="text_red">API Versatility</h5>
                    <p>APIs can be developed to communicate directly with existing software.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/reduction-cost.svg">
                    <h5 class="text_red">Reduction in Cost</h5>
                    <p>Governments and businesses save time and money lost each year due to fraud.</p>
                </figure>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper learn-more-sec">
    <div class="container mw_750x">
        <div class="text-center">
            <h5>
                To see how your business can grow in a secure and trusted way, click on the button below to get
                started.
            </h5>
            <a class="btn btn-primary custom-btn mt-4" asp-area="Website" asp-controller="ContactUs" asp-action="Index">Learn more</a>
        </div>
    </div>
</section>
