
<section class="section-banner product-bg">
    <div class="textOverImage container">
        <div class="row align-items-center">
            <div class="col-sm-5">
                <div class="section-title text-start">
                    <h4>veridoc supplychain</h4>
                    <h2 class="mt-2">transparent and traceable</h2>
                </div>
            </div>
            <div class="col-sm-7">
                <img class="img-fluid transform-img" src="~/assets/img/products/supplychain/page-image.svg">
            </div>
        </div>
    </div>
</section>




<section class="sectionWrapper supplychain-desc">
    <div class="container mw_750x">
        <div class="text-center">
            <p>
                The complexities in today Supply Chain Management (SCM) system reveal huge gaps in product
                tracebility, resulting in inefficiencies as well as counterfeit products.
            </p>
            <p>
                VeriDoc Global has developed a supply chain management verification system that offers transparency
                and integrity to supply chain. This system enhances the trust between stakeholder by leveraging the
                immutability of the blockchain.
            </p>
            <p>
                By revolutionizing supply chain management, organizations can confidently say to multiple stakeholder
                like manufacturers, wholesalers, retailers, distributers, governing bodies and end users, know that
                what I see, is what you see.
            </p>
            <button type="button" class="btn btn-primary custom-btn mt-4">Get Started</button>
        </div>
    </div>
</section>



<section class="sectionWrapper build-tranc-sec bg_lightGray">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="section-title text-start">
                    <h2>BUILD TRACEAABILITY</h2>
                </div>
                <h5>Reducing Risk By Creating Visibility In The Supply Chain</h5>
                <p>
                    VeriDOc Global QR code management module helps trace the source of a product by generating QR
                    codes that can be embedded with customized information like SKU, batch number, warranty,
                    registration details and even product specification. The embedded information is hashed and
                    stored securely on blockchain, which can be verified instantly. In addition, the QR codes can
                    have location details and timestamps. This assists in tracking and tracing products.
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="~/assets/img/products/supplychain/build-trace.svg" />
            </div>
        </div>
    </div>
</section>



<section class="sectionWrapper">
    <div class="container">
        <div class="section-title">
            <h2>ENHANCE TRANSPARENCY</h2>
            <h4 class="text-capitalize">identify leaks in the distribution network</h4>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <p>
                    VeriDoc Global system verifies each step in the supply chain with a digital handshakes that
                    records exactly when and where products has moved in the distribution network. Each movement
                    from manufacturer to wholesaler to retailer can be recorded usinga single QR code and placed on
                    tamper-proof ledger.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    This makes it clear who is liable for products in every step of the production and transit,
                    offering transparency and quickly identifying inefficiencies along the way.
                </p>
            </div>
        </div>
        <br><br>
        <img class="img-fluid" width="100%" src="~/assets/img/products/supplychain/enhance-trans.svg" />
    </div>
</section>



<section class="sectionWrapper build-resil-sec">
    <div class="container">
        <div class="section-title">
            <h2>BUILD RESILIENCE</h2>
            <h4 class="text-capitalize">Generating Reports And Insights</h4>
        </div>
        <br>
        <div class="text-center">
            <img class="img-fluid" src="~/assets/img/products/supplychain/data-analytics.svg" alt="">
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <p>
                    VeriDoc Global provides data analytics reporting powered bu Google Analytics as well as VeriDoc
                    Global proprietary software. VeriDoc Analytics offers insights into details like the number of
                    QR code scans, source and transit details. Traceable source of origin is becoming one of the key
                    factors in the supply chain industry as well as the identification and prevention of
                    counterfeits.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    VeriDoc Global anticounterfeit solution can detect counterfeits the system by flagging the system
                    if the same QR code is being scanned in many different places at the same time. In this
                    situation, the manufacturer or retailer can disable the compromised QR code, which voids the
                    counterfeit products. This data can also be used to track where counterfeit products are
                    originating from and where they are being sold to.
                </p>
            </div>
        </div>
    </div>
</section>


<div class="sectionWrapper key-feat-sec">
    <div class="container">
        <div class="section-title">
            <h2>key features</h2>
        </div>
        <img class="img-fluid" width="100%" src="~/assets/img/products/supplychain/key-fea.svg" alt="" />
        <div class="row">
            <div class="col-md-6">
                <ul class="fa-ul">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        <h5>Traceaability</h5>
                    </li>
                    <p>Ability to trace a product from the source of origin right through to point of sale</p>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        <h5>Transparency</h5>
                    </li>
                    <p>Identify leaks in the distribution network.</p>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        <h5>Product Recal</h5>
                    </li>
                    <p>Recalls can be issued quickly at the batch level or individual item</p>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="fa-ul">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        <h5>Stop Counterfeits</h5>
                    </li>
                    <p>Consumers can verify that a product is genuine before purchasing.</p>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        <h5>Data Analytics<h5>
                    </li>
                    <p>Manufacturers gain insights to who, where , when and how many time a product is scanned.</p>
                </ul>
            </div>
        </div>
    </div>
</div>


<section class="sectionWrapper bg_lightGray key-benefit-sec">
    <div class="container">
        <div class="section-title">
            <h2>KEY BENEFITS</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/increase-quality.svg">
                    <h5 class="text_red">Increase in Quality and Reliability</h5>
                    <p>Data is immutable, verifiable and traceable ensuring quality and reliability.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/increase-knowledge.svg">
                    <h5 class="text_red">Increase in Knowledge and Insights</h5>
                    <p>Product owners are protected from shared logins, memberships and licences.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/increase-security.svg">
                    <h5 class="text_red">Increase in Security</h5>
                    <p>Data on the blockchain is immutable, secure and encrypted for the entire process.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/control-access.svg">
                    <h5 class="text_red">Controlled Access</h5>
                    <p>
                        Product owners have control over who can view and verify the sign-in data for audit purposes.
                    </p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/api-versa.svg">
                    <h5 class="text_red">API Versatility</h5>
                    <p>APIs can be developed to communicate directly with existing software.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/reduction-cost.svg">
                    <h5 class="text_red">Reduction in Cost</h5>
                    <p>Product owners save time and money, due to high quality insights from reliable data.</p>
                </figure>
            </div>
        </div>
    </div>
</section>



<section class="sectionWrapper learn-more-sec">
    <div class="container mw_750x">
        <div class="text-center">
            <h5>
                To see how your business can grow in a secure and trusted way, click on the button below to get
                started.
            </h5>
            <a class="btn btn-primary custom-btn mt-4" asp-area="Website" asp-controller="ContactUs" asp-action="Index">Learn more</a>
            
        </div>
    </div>
</section>