<section class="section-banner product-bg">
    <div class="bgoverlay"></div>
    <div class="textOverImage container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="section-title text-start">
                    <h2>VERIDOC DOCUMENTS WEB APP</h2>
                    <h4>MAKING DOCUMENT VERIFICATION</h4>
                </div>
            </div>
            <div class="col-sm-6">
                <img class="img-fluid doc-sign-img  doc-sign-imga"
                     src="~/assets/img/products/document/page-image.svg" alt="" />
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper smartlogin-sec">
    <div class="container">
        <div class="section-title">
            <h4 class="text-capitalize">
                VeriDoc Global allows users to verify whether a document is genuine or fake
                by simply scanning a QR code on the document.
            </h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/document/img1.svg">
                    <p>
                        VeriDoc Global has developed a web-based application to secure documents and manage
                        templates.
                    </p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/document/img2.svg">
                    <p>
                        The web app can be used as a stand alone solution for document issuers who do not have any
                        existing systems or software in place.
                    </p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/document/img3.svg">
                    <p>
                        VeriDoc Global is a highly versatile application and can also be used to enhance your
                        existing process. Please check out our Developer Tool to access our library of APIs.
                    </p>
                </figure>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper smartlogin-sec bg_darkBlue">
    <div class="container">
        <h5>Some use cases for VeriDoc Smart Login include:</h5>
        <div class="row">
            <div class="col-md-3">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/document/img4.svg">
                    <h6>Key Documents</h6>
                    <p class="text-white">
                        Birth certificates, land titles, medical certificates, tax documents,
                        visas.
                    </p>
                </figure>
            </div>
            <div class="col-md-3">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/document/img5.svg">
                    <h6>ID Cards</h6>
                    <p class="text-white">Driver licences, passports, security cards, national IDs.</p>
                </figure>
            </div>
            <div class="col-md-3">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/document/img6.svg">
                    <h6>Education</h6>
                    <p class="text-white">Degree certificates, transcripts, certificates of attainment.</p>
                </figure>
            </div>
            <div class="col-md-3">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/document/img7.svg">
                    <h6>Food and Pharmaceutical</h6>
                    <p class="text-white">
                        Quality certificates, organic and non-GMO certificates, patient
                        information.
                    </p>
                </figure>
            </div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-primary custom-btn" asp-area="Website" asp-controller="ContactUs" asp-action="Index">Learn more</a>
           
        </div>
    </div>
</section>



<section class="sectionWrapper bg_lightGray key-benefit-sec">
    <div class="container">
        <div class="section-title">
            <h2>KEY features & BENEFITS</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/increase-trust.svg">
                    <h5 class="text_red">Increase in Trust</h5>
                    <p>Users can be verified without risking their privacy – a growing concern with biometrics.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/increase-safety.svg">
                    <h5 class="text_red">Increase in Safety</h5>
                    <p>Product owners are protected from shared logins, memberships and licences.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/increase-security.svg">
                    <h5 class="text_red">Increase in Security</h5>
                    <p>Data on the blockchain is immutable, secure and encrypted for the entire process.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/control-access.svg">
                    <h5 class="text_red">Controlled Access</h5>
                    <p>
                        Product owners have control over who can view and verify the sign-in data for audit purposes.
                    </p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/api-versa.svg">
                    <h5 class="text_red">API Versatility</h5>
                    <p>APIs can be developed to communicate directly with existing software.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/reduction-cost.svg">
                    <h5 class="text_red">Reduction in Cost</h5>
                    <p>Governments and businesses save time and money lost each year due to fraud.</p>
                </figure>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper learn-more-sec">
    <div class="container mw_750x">
        <div class="text-center">
            <h5>
                To see how your business can grow in a secure and trusted way, click on the button below to get
                started.
            </h5>
            <a class="btn btn-primary custom-btn mt-4" asp-area="Website" asp-controller="ContactUs" asp-action="Index">Learn more</a>
        </div>
    </div>
</section>
