<section class="section-banner product-bg">
    <div class="textOverImage container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="section-title text-start">
                    <img class="img-fluid mb-4" src="~/assets/img/products/docsign/docsign-img.png" alt="">
                    <h2>Enhancing the eSignature</h2>
                    <h4 class="mt-2 text-capitalize">solution used by hundreds of</h4>
                </div>
            </div>
            <div class="col-sm-6">
                <img class="img-fluid transform-img doc-sign-img"
                     src="~/assets/img/products/docsign/page-image.svg" alt="" />
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper docsign-desc">
    <div class="container mw_750x">
        <div class="text-center">
            <p>
                DocSign is an e-signature solution to replace people having to print, physically sign, scan and email
                documents to one another. This significantly lowers costs and saves time.
            </p>
            <div class="d-flex justify-content-around">
                <figure>
                    <h2>36%</h2>
                    <span>in time materials<br> saved per agreement</span>
                </figure>
                <figure>
                    <h2>80%</h2>
                    <span>faster<br> turnaround time</span>
                </figure>
            </div>
            <h5>
                Veridoc has partnered with DocuSign to enhance eSignature and offer a simple way to verify that a
                DocuSigned document is genuine.
            </h5>
            <button type="button" class="btn btn-primary custom-btn mt-4">Visit DocSign partner page</button>
        </div>
    </div>
</section>



<section class="sectionWrapper bg_lightGray key-benefit-sec">
    <div class="container">
        <div class="section-title">
            <h2>KEY features & BENEFITS</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/increase-trust.svg">
                    <h5 class="text_red">Increase in Trust</h5>
                    <p>Users can be verified without risking their privacy – a growing concern with biometrics.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/increase-safety.svg">
                    <h5 class="text_red">Increase in Safety</h5>
                    <p>Product owners are protected from shared logins, memberships and licences.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/increase-security.svg">
                    <h5 class="text_red">Increase in Security</h5>
                    <p>Data on the blockchain is immutable, secure and encrypted for the entire process.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/control-access.svg">
                    <h5 class="text_red">Controlled Access</h5>
                    <p>
                        Product owners have control over who can view and verify the sign-in data for audit purposes.
                    </p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/api-versa.svg">
                    <h5 class="text_red">API Versatility</h5>
                    <p>APIs can be developed to communicate directly with existing software.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/reduction-cost.svg">
                    <h5 class="text_red">Reduction in Cost</h5>
                    <p>Governments and businesses save time and money lost each year due to fraud.</p>
                </figure>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper bg_green veridoc-doc-sec">
    <div class="container">
        <div class="section-title">
            <span>learn more about</span>
            <h2 class="text-white">veridoc docsign</h2>
        </div>
        <div class="embed-responsive">
            <iframe title="vimeo-player" src="https://player.vimeo.com/video/407884318" allowfullscreen=""></iframe>
        </div>
    </div>
</section>


<section class="sectionWrapper certified-sec">
    <div class="container">
        <div class="section-title">
            <h2>certified and secure</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul class="fa-ul">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        <h5>ISO 27001</h5>
                    </li>
                    <p>The highest level of global information assurance available today</p>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        <h5>GDPR</h5>
                    </li>
                    <p>European Union's General Data Protection Regulation</p>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        <h5>Binding corporate rules</h5>
                    </li>
                    <p>European Data Protection Authority (DPA) approval</p>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        <h5>PCI data security standered</h5>
                    </li>
                    <p>For handeling credit card data</p>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="fa-ul">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        <h5>SSAE 16(SOC 1 and 2)</h5>
                    </li>
                    <p>Operations and data centre security, availability and confidentiality</p>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        <h5>CSA STAR</h5>
                    </li>
                    <p>Cloud Security Alliance(CSA) Security Trust Assurance and Risk(STAR)</p>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        <h5>FEDRAMP AUTHORIZED</h5>
                    </li>
                    <p>For surving the U.S. federal government</p>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        <h5>HIPAA</h5>
                    </li>
                    <p>For handeling personal health information</p>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper learn-more-sec">
    <div class="container mw_750x">
        <div class="text-center">
            <h5>
                To see how your business can grow in a secure and trusted way, click on the button below to get
                started.
            </h5>
            
            <a class="btn btn-primary custom-btn mt-4" asp-area="Website" asp-controller="ContactUs" asp-action="Index">Learn more</a>
        </div>
    </div>
</section>
