<section class="section-banner product-bg">
    <div class="bgoverlay"></div>
    <div class="textOverImage container">
        <div class="row align-items-center">
            <div class="col-sm-5">
                <div class="section-title text-start">
                    <img class="img-fluid" src="~/assets/img/products/logbook/logbook-logo.png" />
                    <p class="mt-4">
                        VeriDoc Logbook provides venue and business owners with a digital record of
                        everyone visiting their premises. Its quick, contactless and can be used on any smart.
                    </p>
                    <a class="btn btn-primary custom-btn mt-4" asp-area="Website" asp-controller="ContactUs" asp-action="Index">
                        Contact us to find out
                        more
                    </a>
                </div>
            </div>
            <div class="col-sm-7 text-center">
                <img class="img-fluid logbook-img" src="~/assets/img/products/logbook/page-image.svg" width="100%"
                     alt="" />
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper key-benefit-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/logbook/img1.svg">
                    <h5 class="text_red">Automatic Check-Ins</h5>
                    <p>Visitors don’t have to fill out a form every time they visit your venue.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/logbook/img2.svg">
                    <h5 class="text_red">Contactless Record Keeping</h5>
                    <p>Stay COVID-19 safe and ditch paper and pens.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/logbook/img3.svg">
                    <h5 class="text_red">Multiple User Profiles</h5>
                    <p>Data on the blockchain is immutable, secure and encrypted for the entire process.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/logbook/img4.svg">
                    <h5 class="text_red">Easy Record Management</h5>
                    <p>Venues can export and download their logbook records in CSV format at any time.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/logbook/img5.svg">
                    <h5 class="text_red">Tamper Proof Data Protection</h5>
                    <p>
                        Visitor data is protected and complies with privacy laws. Records cannot be changed and are
                        verifiable on blockchain.
                    </p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/logbook/img6.svg">
                    <h5 class="text_red">Intelligent QR Codes</h5>
                    <p>
                        QR codes can be linked to a table number or a tennis court. Venues get unlimited QR codes.
                    </p>
                </figure>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper key-benefit-sec bg_lightGray">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/logbook/restaurant.svg">
                    <h5 class="text_red">Restaurants</h5>
                    <p>
                        End the frustration of customers having to fill out the same form every time they visit your
                        venue. Simply ask your customers to scan the QR code on arrival for automatic check-ins.
                        Visitor’s details are private and not visible to other visitors. QR codes can be linked to a
                        table number.
                    </p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/logbook/office-building.svg">
                    <h5 class="text_red">Office Buildings</h5>
                    <p>
                        Keep a digital record of everyone who enters the building. Visitor’s details are private and
                        not visible to other visitors. Ideal for safety, security protocols and audits. Level up
                        your visitor’s logbook today.
                    </p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/logbook/venue.svg">
                    <h5 class="text_red">Venues</h5>
                    <p>
                        A digital record of visitor, time and date of everyone who visits your venues. Venues can
                        export and download their logbook records in CSV format at any time. The solution is
                        contactless and meets all compliance requirements, helping you to fulfill your COVID safety
                        plan.
                    </p>
                </figure>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper">
    <div class="container">
        <div class="section-title">
            <h2>HOW DOES IT WORK?</h2>
        </div>
        <div class="logbook-user-app-div user-section">
            <div class="logbook-item-li" data-label="01">
                <h4>Login of the employee</h4>
                <p>
                    By utilizing the mobile application, one can enter their email address &amp; password for logging
                    in.
                </p>
                <img class="img-fluid" src="~/assets/img/products/hr/how-work/20210810_105416-AU1.gif"
                     alt="Step 1">
                <img class="log-step-1" src="~/assets/img/products/hr/how-work/log-step-1-line.png"
                     alt="step-line">
            </div>
            <div class="logbook-item-li" data-label="03">
                <h4>Employee Check-Out</h4>
                <p>
                    To clock-out, the employees need to press “Clock Out” button and then scan the QR code of their
                    employer again when they finish work.
                </p>
                <img class=" img-fluid" src="~/assets/img/products/hr/how-work/20210810_105500-AU3.gif"
                     alt="Step 3">
                <img class="log-step-1" src="~/assets/img/products/hr/how-work/log-step-1-line.png"
                     alt="step-line">
            </div>
            <div class="logbook-item-li clock-in" data-label="02">
                <h4>Employee Check-In</h4>
                <p>
                    To check-in, one needs to press the “Clock In” button and scan the QR code of their employer with
                    the inbuilt QR code reader when they start working.
                </p>
                <img class="img-fluid" src="~/assets/img/products/hr/how-work/20210810_105432-AU2.gif"
                     alt="Step 2">
                <img class="log-step-2" src="~/assets/img/products/hr/how-work/log-step-2-line.png"
                     alt="step-line">
            </div>
            <div class="logbook-item-li last-log-margin clock-in mb-0" data-label="04">
                <h4>Records of timesheet</h4>
                <p>
                    An employee can be able to view his complete timesheet history just by the selection of “My
                    Timesheet” and then opting to select “This Month” / “Previous Months” options present in the
                    footer.
                </p>
                <img class="lazyload" src="~/assets/img/products/hr/how-work/20210810_105513-AU4.gif" alt="Step 4">
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper logbook-bottom-sec bg_lightGray">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 text-center">
                <img class="img-fluid" src="~/assets/img/products/logbook/logbook-screen.png" width="267">
            </div>
            <div class="col-md-7">
                <div class="section-title text-start">
                    <h2>
                        <img class="img-fluid me-4" src="~/assets/img/products/logbook/logbook-icon.png"
                             width="80"> VERIDOC LOGBOOK APP
                    </h2>
                </div>
                <p>
                    This app provides venue and business owners with a digital record of everyone visiting their
                    venue.
                </p>
                <h5>FEATURES</h5>
                <p>
                    In-built QR code scanner allows visitors to scan a QR code at the venue using their mobile device
                    for an automatic check-in. It’s quick, easy and no longer requires the visitor to fill out the
                    same form over and over again.
                </p>
                <h5>FLEXIBLE</h5>
                <p>
                    Check-in multiple people from the same device. Easily add additional profiles to check-in
                    children who don’t have a mobile device. The VeriDoc Logbook app can be downloaded for free from
                    the Apple Store or Google Play Store. Check it out now, for a painless and ad-free experience.
                </p>
                <div class="mt-4">
                    <a href="https://apps.apple.com/us/app/veridoc-global/id1425726642">
                        <img class="img-fluid me-2" src="~/assets/img/Use-cases/poc/apple-store.png" width="127">
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.vdglogbook.android1&hl=en_IN&gl=US">
                        <img class="img-fluid" src="~/assets/img/Use-cases/poc/play-store.png" width="127">
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>