<section class="section-banner product-bg">
    <div class="textOverImage container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="section-title text-start">
                    <h2>veridoc smart login</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <img class="img-fluid smart-login-img" src="~/assets/img/products/smartlogin/page-image.svg"
                     width="248" alt="" />
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper smartlogin-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/smartlogin/img1.svg">
                    <p>
                        Smart Login enables users to sign into a web app by simply scanning a QR code using VeriDoc
                        Global’s mobile app technology.
                    </p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/smartlogin/img2.svg">
                    <p>
                        Smart Login adds extra security by leveraging two-factor authentication (2FA). Only one
                        mobile device can be linked to a user’s account at any one time.
                    </p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/smartlogin/img3.svg">
                    <p>
                        Product owners can view all sign-in data including time and location stamps, which are
                        recorded on the blockchain for audit purposes. Users can sign out of their web account
                        directly from the app.
                    </p>
                </figure>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper smartlogin-sec bg_darkBlue">
    <div class="container">
        <h5>Some use cases for VeriDoc Smart Login include:</h5>
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/smartlogin/img4.svg">
                    <p class="text-white">
                        Smart Login enables users to sign into a web app by simply scanning a QR
                        code using VeriDoc Global’s mobile app technology.
                    </p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/smartlogin/img5.svg">
                    <p class="text-white">
                        Logging into web apps to prevent multiple users sharing a single software
                        licence.
                    </p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/smartlogin/img6.svg">
                    <p class="text-white">
                        Accessing 24-hour gyms, AirBNBs, workplaces, etc. (combined with IoT and
                        electronic door systems).
                    </p>
                </figure>
            </div>
        </div>
        <div class="text-center mt-4">
            <button type="button" onclick="location.href='../contact-us.html';" class="btn btn-primary custom-btn">Learn More</button>
        </div>
    </div>
</section>



<section class="sectionWrapper bg_lightGray key-benefit-sec">
    <div class="container">
        <div class="section-title">
            <h2>KEY features & BENEFITS</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/increase-trust.svg">
                    <h5 class="text_red">Increase in Trust</h5>
                    <p>Users can be verified without risking their privacy – a growing concern with biometrics.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/increase-safety.svg">
                    <h5 class="text_red">Increase in Safety</h5>
                    <p>Product owners are protected from shared logins, memberships and licences.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/increase-security.svg">
                    <h5 class="text_red">Increase in Security</h5>
                    <p>Data on the blockchain is immutable, secure and encrypted for the entire process.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/control-access.svg">
                    <h5 class="text_red">Controlled Access</h5>
                    <p>
                        Product owners have control over who can view and verify the sign-in data for audit purposes.
                    </p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/api-versa.svg">
                    <h5 class="text_red">API Versatility</h5>
                    <p>APIs can be developed to communicate directly with existing software.</p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/products/key-benefit/reduction-cost.svg">
                    <h5 class="text_red">Reduction in Cost</h5>
                    <p>Governments and businesses save time and money lost each year due to fraud.</p>
                </figure>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper learn-more-sec">
    <div class="container mw_750x">
        <div class="text-center">
            <h5>
                To see how your business can grow in a secure and trusted way, click on the button below to get
                started.
            </h5>
            <a class="btn btn-primary custom-btn mt-4" asp-area="Website" asp-controller="ContactUs" asp-action="Index">Learn more</a>
        </div>
    </div>
</section>
