



<section class="home-banner offer-banner deployment-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 ">
                <div class="banner-left-content">
                    <h2>
                        Deployment of ICT
                        Automation Systems
                    </h2>
                </div>
            </div>
            <div class="col-lg-6 text-right">
                <img src="~/assets/img/deployment.svg" alt="" class="img-fluid">
            </div>

        </div>
    </div>
</section>

<section class="service-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Deployment of ICT Automation Systems.</h4>
                <p>
                    Automation of any business process has never been easy, Sourcenets takes automation to
                    another level. We do research, design and deployment of automation systems.
                </p>
                <p>
                    With many of our clients, we have realized that many of the day-to-day processes can easily
                    be automated.
                </p>
                <p>
                    Sourcenets is a supplier and trainer for the Automate software packages, which allows the user
                    to link, integrate and automate all sorts of business processes.
                </p>
            </div>
            <div class="col-lg-12 mt-4 text-center">
                <a class="btn btn-4" asp-area="Website" asp-controller="ContactUs" asp-action="Index">Get It Now</a>
            </div>
        </div>
    </div>
</section>


<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Popular Services</h2>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="Parking">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-1.svg" alt="">
                        <p>Parking Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="RevenueSystems">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-2.svg" alt="">
                        <p>Revenue Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="PaymentSolutions">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-3.svg" alt="">
                        <p>Payment Solutions </p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>
