

<section class="home-banner offer-banner ecommerce-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-left-content">
                    <h2>E-Commerce</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="~/assets/img/ecommerce.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>



<section class="service-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>E-Commerce</h4>
                <p>
                    People live a very busy life thus getting a time to go to the markets available in cities becomes
                    difficulty, with the invention of e-commerce which is a way to buy and sell things via the
                    internet makes it possible to shop things anywhere they are.
                </p>
                <p>
                    Ecommerce business models of all types are thriving. Sales from online stores are expected to
                    increase 78% by 2020.
                </p>
                <p>We build several types of e-commerce models including:</p>
                <p>Here are the components of Parksoul Parking System:</p>
                <ul>
                    <li><span>B2B Ecommerce</span></li>
                    <li><span>B2C Ecommerce </span></li>
                    <li><span>C2C Ecommerce</span> </li>
                    <li><span>C2B Ecommerce</span> </li>
                    <li><span>Government / Public Administration Ecommerce</span></li>
                </ul>
            </div>
            <div class="col-lg-12 mt-4 text-center">
                <a class="btn btn-4" asp-area="Website" asp-controller="ContactUs" asp-action="Index">Get It Now</a>

            </div>
        </div>
    </div>
</section>




<!-- <section class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 left-parking">
                <img src="~/assets/img/ecommerce.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 my-auto">
                <div class="right-parking">
                    <h4>E-Commerce</h4>
                    <p>People live a very busy life thus getting a time to go to the markets available in cities becomes
                        difficulty, with the invention of e-commerce which is a way to buy and sell things via the
                        internet makes it possible to shop things anywhere they are.</p>
                    <p>Ecommerce business models of all types are thriving. Sales from online stores are expected to
                        increase 78% by 2020.
                    </p>
                    <p>We build several types of e-commerce models including:</p>
                    <p>Here are the components of Parksoul Parking System:</p>
                    <ul>
                        <li><span>B2B Ecommerce</span></li>
                        <li><span>B2C Ecommerce </span></li>
                        <li><span>C2C Ecommerce</span> </li>
                        <li><span>C2B Ecommerce</span> </li>
                        <li><span>Government / Public Administration Ecommerce</span></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Popular Services</h2>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="Parking">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-1.svg" alt="">
                        <p>Parking Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="RevenueSystems">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-2.svg" alt="">
                        <p>Revenue Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="PaymentSolutions">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-3.svg" alt="">
                        <p>Payment Solutions </p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>
