<section class="home-banner offer-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-12 text-center">
                <div class="banner-left-content">
                    <h2>What We Offer</h2>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Services</h2>
            </div>
            <div class="col-lg-3 col-md-6">
                <a asp-area="Website" asp-controller="Services" asp-action="Parking">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-1.svg" alt="">
                        <p>Parking Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a asp-area="Website" asp-controller="Services" asp-action="SystemDevelopment">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/services-5.svg" alt="">
                        <p>System Development </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a asp-area="Website" asp-controller="Services" asp-action="AutomationSystem">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/services-6.svg" alt="">
                        <p>Automation Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a asp-area="Website" asp-controller="Services" asp-action="InternetService">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/services-7.svg" alt="">
                        <p>Internet Services</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a asp-area="Website" asp-controller="Services" asp-action="RevenueSystems">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-2.svg" alt="">
                        <p>Revenue Systems </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a asp-area="Website" asp-controller="Services" asp-action="EcommerceApplications">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/services-8.svg" alt="">
                        <p>E-commerce Applications</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a asp-area="Website" asp-controller="Services" asp-action="PaymentSolutions">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-3.svg" alt="">
                        <p>Payment Solutions</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a asp-area="Website" asp-controller="Services" asp-action="SecuredSystems">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/services-10.svg" alt="">
                        <p>Secured Systems</p>
                    </div>
                </a>
            </div>
        </div>
        <!-- <div class="col-lg-12 text-center">
            <button class="btn btn-4">VIEW MORE</button>
        </div> -->
    </div>
</section>