

<section class="home-banner offer-banner web-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 ">
                <div class="banner-left-content">
                    <h2>
                        Data, Internet &
                        Web Services
                    </h2>
                </div>
            </div>
            <div class="col-lg-6 text-end">
                <img src="~/assets/img/web.svg" class="img-fluid" alt="">
            </div>

        </div>
    </div>
</section>


<section class="service-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    The world is changing so fast, many cities in the world are looking forward to build smart
                    cities
                    to stay ahead of others. Connectivity, people and the internet are the major players to
                    build up
                    a digital economy, Sourcenets is dedicated to build digital infrastructure that will lead
                    Africa
                    to where it plans to be in 50 years to come.

                </p>
                <p>
                    Internet is a universal technology platform that allows any computer to communicate with
                    any other computer in the world. Furthermore, one of the advantages of the internet is that
                    nobody really 'owns' it. It is a global collection of networks, both big and small. These
                    networks
                    connect together in many different ways to form the single entity that we know as the
                    internet.

                </p>
                <p>
                    The internet has revolutionized communication and thereby its contribution to information
                    sharing. With access to a computer and an appropriate connection, anyone can interact with
                    others worldwide; however, the web is designed to exchange unstructured information: while
                    people can read web pages and understand their meaning, computers cannot.

                </p>
                <p>
                    Web services play a complementary and dominant role in building global IS for today's
                    dynamic business world. Web services are self-contained, modular applications that can be
                    described, published, located and invoked over a network.
                </p>
                <p>
                    Web services perform functions ranging from simple requests to complicated business
                    processes. Once a web service is developed, other applications and other web services can
                    discover and invoke the deployed service through universal description, discovery and
                    integration. The idea of web service is to leverage the advantages of the web as a platform
                    to
                    apply it to the application services. We use them, not just to the static information.
                </p>
                <p>
                    We provide components and the services that can be used to build larger application services.
                </p>
                <p>
                    Knowing the critical roles of both internet and web services, Sourcenets is dedicated to
                    provide
                    a well reliable internet and web services in Africa as an infrastructure.
                </p>
            </div>
            <div class="col-lg-12 mt-4 text-center">
                <a class="btn btn-4" asp-area="Website" asp-controller="ContactUs" asp-action="Index">Get It Now</a>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Popular Services</h2>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="Parking">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-1.svg" alt="">
                        <p>Parking Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="RevenueSystems">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-2.svg" alt="">
                        <p>Revenue  Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="../service-inner/payment-solution.html">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-3.svg" alt="">
                        <p>Payment Solutions </p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>