

<section class="home-banner offer-banner parking-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 ">
                <div class="banner-left-content">
                    <h2>
                        Parking
                        Management Systems
                    </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="~/assets/img/parking-img.svg" class="img-fluid" alt="">
            </div>

        </div>
    </div>
</section>


<section class="service-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Parking Management Systems</h4>
                <p>
                    Sourcenets has developed a brilliant parking solution for both municipalities, cities,
                    airports,
                    commercial buildings and street parking known as ParkSoul.
                </p>
                <p>
                    ParkSoul is a mobile and a web-based application devised to streamline car parking
                    operations. We
                    focus on utilizing modern technology to simplify revenue collection in the parking industry.
                </p>
                <p>
                    The Parking Management System constitutes the access control system, revenue management,
                    security
                    system, boom barrier & statistical information.
                </p>
                <h5>Here are the components of Parksoul Parking System:</h5>
                <ul>
                    <li><span>Parking Management Software</span></li>
                    <li><span>Android POS</span></li>
                    <li><span>Automated Access control system</span> </li>
                    <li><span>Automated Fee systems configuration</span> </li>
                    <li>
                        <span>
                            Statistical reporting software (Hourly, Weekly, Monthly & Annual)Reports
                            Includes:
                        </span>
                        <ul class="num-li">
                            <li><span>Revenue based</span> </li>
                            <li><span>License Plate recognition-based reports</span> </li>
                            <li>
                                <span>Access card based (Pre-paid, Post Paid)</span>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li><span>Real-time Vehicle counting</span> </li>
                    <li><span>Real time parking guidance display</span> </li>
                    <li><span>Video Surveillance</span> </li>
                    <li><span>DVR</span> </li>
                </ul>
            </div>
            <div class="col-lg-12 mt-4 text-center">
                <a class="btn btn-4" asp-area="Website" asp-controller="ContactUs" asp-action="Index">Get It Now</a>
                @*<button class="btn btn-4" onclick="location.href='../contact-us.html'">Get It Now</button>*@
            </div>
        </div>
    </div>
</section>

<!-- <section class="system-development">
    <div class="container">
        <div class="left-parking content-details">
            <div class=" img-content">
                <img src="~/assets/img/parking-img.svg" class="img-fluid" alt="">
            </div>
            <div class="content-inner right-parking right-padding">
                <h4>Parking Management Systems</h4>
                <p>Sourcenets has developed a brilliant parking solution for both municipalities, cities,
                    airports,
                    commercial buildings and street parking known as ParkSoul.</p>
                <p>ParkSoul is a mobile and a web-based application devised to streamline car parking
                    operations. We
                    focus on utilizing modern technology to simplify revenue collection in the parking industry.
                </p>
                <p>The Parking Management System constitutes the access control system, revenue management,
                    security
                    system, boom barrier & statistical information.</p>
                <h5>Here are the components of Parksoul Parking System:</h5>
                <ul>
                    <li><span>Parking Management Software</span></li>
                    <li><span>Android POS</span></li>
                    <li><span>Automated Access control system</span> </li>
                    <li><span>Automated Fee systems configuration</span> </li>
                    <li><span>Statistical reporting software (Hourly, Weekly, Monthly & Annual)Reports
                            Includes:</span>
                        <ul class="num-li">
                            <li><span>Revenue based</span> </li>
                            <li><span>License Plate recognition-based reports</span> </li>
                            <li><span>Access card based (Pre-paid, Post Paid)</span>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li><span>Real-time Vehicle counting</span> </li>
                    <li><span>Real time parking guidance display</span> </li>
                    <li><span>Video Surveillance</span> </li>
                    <li><span>DVR</span> </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Popular Services</h2>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="Parking">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-1.svg" alt="">
                        <p>Parking Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="RevenueSystems">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-2.svg" alt="">
                        <p>Revenue Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="PaymentSolutions">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-3.svg" alt="">
                        <p>Payment Solutions </p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>