

<section class="home-banner offer-banner payment-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-left-content">
                    <h2>Payment Solutions </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="~/assets/img/payment.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>



<section class="service-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Payment Solutions</h4>
                <p>
                    Harness our payment gateway, a merchant service we provide to authorize credit card or
                    direct payments processing for e-businesses, online retailers. Our main stakeholders include
                    the customers, banks, mobile money operators (Africell, Gamcell, Qcell), Government agencies
                    such as Water Agency, Electrical Agency and Municipalities etc.
                </p>
                <p>
                    Our payment gateway facilitates a payment transaction by the transfer of information
                    between a payment portal (such as a website, mobile phone or interactive voice response
                    service) and the front-end processor or acquiring bank.
                </p>
            </div>
            <div class="col-lg-12 mt-4 text-center">
                <a class="btn btn-4" asp-area="Website" asp-controller="ContactUs" asp-action="Index">Get It Now</a>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Popular Services</h2>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="Parking">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-1.svg" alt="">
                        <p>Parking Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="RevenueSystems">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-2.svg" alt="">
                        <p>Revenue Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="PaymentSolutions">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-3.svg" alt="">
                        <p>Payment Solutions </p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>
