



<section class="home-banner offer-banner revenue-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center">
                <div class="banner-left-content">
                    <h2>Revenue Collection Systems</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="~/assets/img/revenue.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>




<section class="service-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Revenue Collection Systems</h4>
                <p>
                    We have a comprehensive solution for the electronic collection of Government Fees, Taxes and
                    Custom Duties. Our system serves as a means to achieve a cashless environment via the
                    introduction of Virtual Funds and automates all revenue collection processes, allowing
                    government agencies to exploit the full capabilities of the technology to transform its services
                    to the public.
                </p>
                <p>
                    Our basic framework of the Electronic Revenue Collection separates the collection of cash and
                    the actual collection of fees in the revenue collection process. Under this framework cash is
                    collected at the beginning through trusted partners i.e. authorized banks and their branches.
                    These trusted partners will either issue e-payment modes like e-wallet, scratch cards and evouchers or will reload these e-payment modes, against the cash payment.

                </p>
                <p>
                    Revenue Collection solution provides various electronic methods that enable the government
                    to collect all revenues related to the governmental services, customs and taxes, etc.
                </p>
            </div>
            <div class="col-lg-12 mt-4 text-center">
                <a class="btn btn-4" asp-area="Website" asp-controller="ContactUs" asp-action="Index">Get It Now</a>
            </div>
        </div>
    </div>
</section>






<!-- <section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-auto left-parking">
                <img src="~/assetsimg/revenue.svg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 my-auto">
                <div class="right-parking right-padding">
                    <h4>Revenue Collection Systems</h4>
                    <p>We have a comprehensive solution for the electronic collection of Government Fees, Taxes and
                        Custom Duties. Our system serves as a means to achieve a cashless environment via the
                        introduction of Virtual Funds and automates all revenue collection processes, allowing
                        government agencies to exploit the full capabilities of the technology to transform its services
                        to the public.</p>
                    <p>Our basic framework of the Electronic Revenue Collection separates the collection of cash and
                        the actual collection of fees in the revenue collection process. Under this framework cash is
                        collected at the beginning through trusted partners i.e. authorized banks and their branches.
                        These trusted partners will either issue e-payment modes like e-wallet, scratch cards and evouchers or will reload these e-payment modes, against the cash payment.

                    </p>
                    <p>Revenue Collection solution provides various electronic methods that enable the government
                        to collect all revenues related to the governmental services, customs and taxes, etc.
                        </p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Popular Services</h2>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="Parking">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-1.svg" alt="">
                        <p>Parking Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="RevenueSystems">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-2.svg" alt="">
                        <p>Revenue Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="PaymentSolutions">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-3.svg" alt="">
                        <p>Payment Solutions </p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>