

<section class="home-banner offer-banner security-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-left-content">
                    <h2>ICT & Security Services</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="~/assets/img/secutity-technology.svg" class="img-fluid" alt="">
            </div>

        </div>
    </div>
</section>


<section class="service-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>ICT & Security Services.</h4>
                <p>
                    We offer highly specialized services for government agencies and corporate bodies providing
                    industrial strength robust and confidential solutions to the highest expectation of
                    international standards.
                </p>
                <ul>
                    <li><span>IT Solutions Architects</span></li>
                    <li><span>Hosted, highly secure government & corporate email </span></li>
                    <li><span>Software & Hardware Management & Monitoring</span> </li>
                    <li><span>Cloud Computing & Hosting</span> </li>
                    <li><span>Business continuity/Disaster Recovery solutions</span></li>
                    <li><span>Continuous data protection</span></li>
                    <li><span>Security Hardware/Software implementation and support</span></li>
                    <li><span>Fraud protection, penetration testing & firewall </span></li>
                    <li><span>Forensic investigation</span></li>
                    <li><span>Unified Secure Communications implementation and support</span></li>
                    <li><span>Mobile messaging solutions</span></li>
                    <li><span>Virtual private networks</span></li>
                    <li><span>Secure, confidential mobile phone hardware & software</span></li>
                    <li><span>ICT hardware sourcing and supply</span></li>
                </ul>
            </div>
            <div class="col-lg-12 mt-4 text-center">
                <a class="btn btn-4" asp-area="Website" asp-controller="ContactUs" asp-action="Index">Get It Now</a>
            </div>
        </div>
    </div>
</section>



<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Popular Services</h2>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="Parking">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-1.svg" alt="">
                        <p>Parking Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="RevenueSystems">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-2.svg" alt="">
                        <p>Revenue Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="PaymentSolutions">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-3.svg" alt="">
                        <p>Payment Solutions </p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>
