

<section class="home-banner offer-banner development-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 ">
                <div class="banner-left-content">
                    <h2>System Development</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="~/assets/img/development.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>



<section class="service-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>System Development</h4>
                <p>
                    If you lack internal software development resources or expertise to support your business
                    growth or digital transformation initiatives, Sourcenets is ready to take over your
                    development
                    projects (either the entire pipeline or its part) and ensure the effectiveness and
                    transparency
                    of our cooperation.
                </p>
                <p>We develop mobile apps, APIs, custom software design, web apps, desktops apps. </p>
                <h6>Mobile Apps</h6>
                <p>
                    We are a well-known company in terms of development of Mobile Applications for both
                    Android and IOS operating systems, we develop mobile apps that will fit the intended need or
                    requirements for your organization.
                </p>
                <p>
                    Our team of well trained and knowledgeable app developers on the Android and iOS platform
                    create high quality, user-friendly, cost-effective mobile applications to meet our
                    customer's
                    expectations.
                </p>
                <h6>APIs</h6>
                <p>
                    Given the importance and value that APIs represent for numerous businesses, it's important
                    to consider API development company. The APIs that have the most value and use for the
                    enterprise are more like products than code. We design APIs to be consumed by specific
                    audiences (e.g., mobile developers).
                </p>
                <p>
                    Building APIs with the right logic and functionality fully in tune with the design can be
                    challenging. Sourcenets can autogenerate your API's boilerplate code in 20+ languages from
                    your API's design, allowing you to only focus on your API's core business logic. In case
                    your
                    development teams need to work on different modules of code together, you can always use
                    contact us.
                </p>
                <h6>Custom Software </h6>
                <p>
                    Whether your company needs a solution that will automate routine work of employees, store
                    data/information or improve workflows, we develop Custom Software Solutions to the
                    specification of our clients.
                </p>
                <h6> Web Apps</h6>
                <p>
                    Whether you need a small brochure site, a complex database driven web application, or an
                    ecommerce site we have the combined expertise in online marketing and technology to create
                    a perfect website for your company.
                </p>
            </div>
            <div class="col-lg-12 mt-4 text-center">
                <a class="btn btn-4" asp-area="Website" asp-controller="ContactUs" asp-action="Index">Get It Now</a>
                
            </div>
        </div>
    </div>
</section>




<!-- <section class="system-development">
    <div class="container">
        <div class="left-parking content-details">
            <div class=" img-content">
                <img src="~/assets/img/development.svg" class="img-fluid" alt="">
            </div>
            <div class="content-inner right-parking right-padding">
                    <h4>System Development</h4>
                    <p>If you lack internal software development resources or expertise to support your business
                        growth or digital transformation initiatives, Sourcenets is ready to take over your
                        development
                        projects (either the entire pipeline or its part) and ensure the effectiveness and
                        transparency
                        of our cooperation.</p>
                    <p>We develop mobile apps, APIs, custom software design, web apps, desktops apps. </p>
                    <h6>Mobile Apps</h6>
                    <p>We are a well-known company in terms of development of Mobile Applications for both
                        Android and IOS operating systems, we develop mobile apps that will fit the intended need or
                        requirements for your organization.
                    </p>
                    <p>Our team of well trained and knowledgeable app developers on the Android and iOS platform
                        create high quality, user-friendly, cost-effective mobile applications to meet our
                        customer's
                        expectations.</p>
                    <h6>APIs</h6>
                    <p>Given the importance and value that APIs represent for numerous businesses, it's important
                        to consider API development company. The APIs that have the most value and use for the
                        enterprise are more like products than code. We design APIs to be consumed by specific
                        audiences (e.g., mobile developers).</p>
                    <p>Building APIs with the right logic and functionality fully in tune with the design can be
                        challenging. Sourcenets can autogenerate your API's boilerplate code in 20+ languages from
                        your API's design, allowing you to only focus on your API's core business logic. In case
                        your
                        development teams need to work on different modules of code together, you can always use
                        contact us.</p>
                        <h6>Custom Software </h6>
                        <p>Whether your company needs a solution that will automate routine work of employees, store
                            data/information or improve workflows, we develop Custom Software Solutions to the
                            specification of our clients.</p>
                        <h6> Web Apps</h6>
                        <p>Whether you need a small brochure site, a complex database driven web application, or an
                            ecommerce site we have the combined expertise in online marketing and technology to create
                            a perfect website for your company.</p>
                </div>
            </div>
        </div>
</section> -->
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Popular Services</h2>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="Parking">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-1.svg" alt="">
                        <p>Parking Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="RevenueSystems">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-2.svg" alt="">
                        <p>Revenue Systems</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-area="Website" asp-controller="Services" asp-action="PaymentSolutions">
                    <div class="service-box service-box-2">
                        <img src="~/assets/img/service-3.svg" alt="">
                        <p>Payment Solutions </p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>
