
<section class="home-banner team-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-12 text-center">
                <div class="banner-left-content">
                    <h2>
                        Meet Our <br>
                        Creative Team
                    </h2>
                </div>
            </div>

        </div>
    </div>
</section>



<section class="team-members">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 team-heading text-center">
                <h2>Our Team</h2>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-box">
                    <div class="content">
                        <div class="content-overlay"></div>
                        <a href="">
                            <img src="~/assets/img/Renson-Renson - Director-for-Africa.jpg" class="content-image" alt=""
                                 class="img-fluid">
                        </a>
                        <div class="content-details-2 fadeIn-bottom">
                            <a href="">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="team-details">
                        <h4>Renson Ricky</h4>
                        <h5>Chief Executive Officer</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-box">
                    <div class="content">
                        <div class="content-overlay"></div>
                        <a href="">
                            <img src="~/assets/img/Tendai-Kalonga.jpg" class="content-image" alt=""
                                 class="img-fluid">
                        </a>
                        <div class="content-details-2 fadeIn-bottom">
                            <a href="">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="team-details">
                        <h4>Tendai Kalonga</h4>
                        <h5>Country Director, Zambia</h5>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-box">
                    <div class="content">
                        <div class="content-overlay"></div>
                        <a href="">
                            <img src="~/assets/img/David-Banda.png" class="content-image" alt=""
                                 class="img-fluid">
                        </a>
                        <div class="content-details-2 fadeIn-bottom">
                            <a href="">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="team-details">
                        <h4>David Banda</h4>
                        <h5>Deputy Director, Zambia</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-box">
                    <div class="content">
                        <div class="content-overlay"></div>
                        <a href="">
                            <img src="~/assets/img/Abubakar-Stambuli.jpg" class="content-image" alt=""
                                 class="img-fluid">
                        </a>
                        <div class="content-details-2 fadeIn-bottom">
                            <a href="">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="team-details">
                        <h4>Abubakar Stambuli</h4>
                        <h5>Chief technical Officer, Africa</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="next-client next-client-dark home-next-client">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 next-client-head">
                <h2>Be Our Next Client</h2>
            </div>
            <div class="col-lg-6">
                <h4>Tell Us About your Project</h4>
                <p>Are you looking for a designer partner? You found us.</p>
                <div class="row">
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                               placeholder="Name*">
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                               placeholder="Company Name*">
                    </div>
                    <div class="col-lg-12">
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                               placeholder="Email**">
                    </div>
                    <div class="col-lg-12">
                        <textarea class="form-control" placeholder="Write a few words about your project*"
                                  id="floatingTextarea"></textarea>
                        <label for="">
                            We will get back with a proposal within 48 hours then set an appointment
                            for
                            requirements discussion.
                        </label>
                    </div>
                    <div class="col-lg-12 mt-4">
                        <button class="btn btn-4">SUBMIT</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="next-client-right">
                    <h4>Lets Talk About Everything</h4>
                    <h6>Headquarters: Tanzania </h6>
                    <div class="mob-num-sec">
                        <div class="num-icon">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="mob-num">
                            <a href="tel:+255 758 58 68 61" type="tel">
                                <p>+255 758 58 68 61</p>
                            </a>
                            <a href="tel:+255 672 78 78 69" type="tel">
                                <p>+255 672 78 78 69</p>
                            </a>
                        </div>
                    </div>
                    <div class="mail-sec">
                        <div class="mail-icon">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="mail-id">
                            <a href="mailto:hello@sourcenets.com">
                                <p>hello@sourcenets.com</p>
                            </a>
                        </div>
                    </div>
                    <div class="address-sec">
                        <div class="address-icon">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="address">
                            <h6>
                                Zambia Branch: House Number 10, Off Buluwe Road, Woodlands, Lusaka Province,
                                Zambia
                            </h6>
                            <p>
                                P. O. Box 79722, Army Building Mkwepu Street, Samora Avenue, Dar es salaam,
                                Tanzania
                            </p>
                            <p>
                                Branch: Gambia, West Africa
                                Point Zone Kotu, Sand Beach Hotel
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>