
<section class="sectionWrapper bg_lightGray verification-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="verify-title">
                    <p class="mb-0">
                        Please compare the document you have scanned to the<b>
                            original document
                        </b>prepared by the issuer below. You may download the original document for your copy, and
                        verify document through blockchain.
                    </p>
                </div>
                <div class="text-center mt-4 mb-4">
                    <button class="btn btn-primary custom-btn verify-btn" type="submit">
                        <i class="far fa-link fa-rotate-90"></i> Verify on ethereum blockchain
                    </button>
                </div>
                <div class="tableWrapper">
                    <h5>Document Details</h5>
                    <div class="table-responsive">
                        <table class="table table-borderless table-striped">
                            <tbody>
                                <tr>
                                    <td width="160px">Bank</td>
                                    <td>Verified Bank</td>
                                </tr>
                                <tr>
                                    <td>Document Type</td>
                                    <td>Bank Statement</td>
                                </tr>
                                <tr>
                                    <td>Period</td>
                                    <td>July 1, 2019 - July 31, 2019</td>
                                </tr>
                                <tr>
                                    <td>Customer Service Information</td>
                                    <td>
                                        Contact us by phone for questions, on this statement, change information,
                                        and general inquiries, 24 hours a day, 7 days a week.a
                                    </td>
                                </tr>
                                <tr>
                                    <td>Transaction Id</td>
                                    <td>0x9887e3a98ee6d745dfd60632d8f569fcea2a929ad3a45b06755cdaad7118e1e0</td>
                                </tr>
                                <tr>
                                    <td>Hash</td>
                                    <td>51c5cea97ed821b51c6e582f7c22d831e891a34724ce7e6c1dd23e65c15dfe0a</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="verify-iframe">
                    <iframe id="Desktop"
                            src="https://drive.google.com/file/d/1ZH55LZ3EvXEpk2GF5aRBmlp_ZwxD0R1l/preview"
                            type="application/pdf" width="100%" height="630px"></iframe>
                </div>
                <div class="text-left mt-3 mb-3">
                    <button class="btn btn-primary custom-btn verify-btn" type="submit">
                        <i class="fas fa-arrow-alt-down"></i> Download
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
