



<section class="section-banner useCase-bg">
    <div class="textOverImage container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="section-title text-start">
                    <h4>solution</h4>
                    <h2>Food (track & trace)</h2>
                    <h4>dog food proof of concept</h4>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <img class="img-fluid" src="~/assets/img/team/solution-icon/icon3.svg" alt="" />
            </div>
        </div>
    </div>
</section>


<section class="poc-sec bg_darkBlue p-2"></section>


<section class="sectionWrapper submenu-main-sec">
    <div class="container">
        <div class="section-title text-start">
            <h4>Introduction to</h4>
            <h2>Dog Food</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    For those that love there pets as much if not more than our humans companions, they hold a
                    special place in our hearts and as such what we feed them and how we keep them health is
                    important. As consumers we have a right to know what goes into the food we give our pets, and
                    also have a way to know if the food we are giving them is safe and hasn’t been recalled.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img class="img-fluid" width="230"
                     src="~/assets/img/Use-cases/sub-menu-pages/sub-menu-pages/food/dog-food.png">
            </div>
        </div>
        <a class="btn btn-primary custom-btn click-poc" target="_blank"
           asp-area="Website" asp-controller="UseCases" asp-action="DogFoodVerification">Click to see proof of concept</a>
        <div class="learn_more_bottom">
            <img class="img-fluid" src="~/assets/img/Use-cases/sub-menu-pages/sub-menu-pages/setting-user.png" />
            <div class="ms-3">
                <p class="mb-0">Learn more about</p>
                <span><a class="text-reset" asp-area="Website" asp-controller="UseCases" asp-action="SupplyChain">Supply Chain Solution</a></span>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper bg_lightGray">
    <div class="container">
        <div class="section-title">
            <h4>how does the</h4>
            <h2>solution work</h2>
        </div>
        <div class="solution-img-box">
            <img class="img-fluid" src="~/assets/img/Use-cases/sub-menu-pages/sub-menu-pages/solution-img.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Change of State (CoS) technology and blockchain is at the heart of this solution. This would
                    allow supply chain operators to control and view all changes relating to that item.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    CoS technology allows customers to verify on the blockchain in real time, the full journey of a
                    product with benefits including, including improved product safety, reduction in fraud, scams
                    and corruption, along with increased accuracy of information about the product.
                </p>
            </div>
        </div>
        <div class="learn_more_bottom">
            <img class="img-fluid" src="~/assets/img/Use-cases/sub-menu-pages/sub-menu-pages/setting-user.png">
            <div class="ms-3">
                <p class="mb-0">Learn more about</p>
                <span><a class="text-reset" asp-area="Website" asp-controller="UseCases" asp-action="SupplyChain">Supply Chain Solution</a></span>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper good-ben-sec">
    <div class="container">
        <div class="section-title text-start">
            <h4>why is this</h4>
            <h2>good for you?</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-7">
                <p>
                    VeriDoc Global has identified multiple inefficiencies in cross-border delivery industry, which
                    the key factors are related to lack of transparency and trust between the different providers
                    along the way. International parcel delivery usually go through several logistics vendors, each
                    on their side of the country, and there is a lot of accounting and interoperability interactions
                    between the different vendors.VeriDoc Global plans to solve these issues with a blockchain
                    technology and finished solution by taking advantage of its inherent transparency and trust.
                </p>
            </div>
            <div class="col-md-5 text-center">
                <img class="img-fluid" width="200" src="~/assets/img/Use-cases/sub-menu-pages/sub-menu-pages/benefit-img.png"
                     alt="" />
            </div>
        </div>
    </div>
</section>