<section class="section-banner useCase-bg">
    <div class="textOverImage container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="section-title text-start">
                    <h4>solution</h4>
                    <h2>Health care card</h2>
                    <h4>international health care card proof of concept</h4>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <img class="img-fluid" src="~/assets/img/team/solution-icon/icon1.svg" alt="" />
            </div>
        </div>
    </div>
</section>


<section class="poc-sec bg_darkBlue p-2"></section>


<section class="sectionWrapper submenu-main-sec">
    <div class="container">
        <div class="section-title text-start">
            <h4>introduction to</h4>
            <h2>International<br> Health Care Card</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>VeriDoc Globals Solution and technology delivers real time Proof of Provenance and Authenticity to all data and records related to patients using their International Health Care Card. Anyone who receives medical treatment for symptoms of the Coronavirus (COVID-19), Influenza, Ebola or MERS viruses or any other treatments would be added to their Internation Health Care Card.</p>
                <p>With the International Health Care Card, World Health Organization, United Nations, Governments, medical authorities and statutory bodies will have access to all medical treatments for any of the patients with real time data and traceability with GPS Tracking.</p>
                <p>Alerts could be placed on these cards if travel restrictions are in place, along with any other important information. VeriDoc Globals Solution enables health authorities and governments to track all treatments, but more importantly with the Coronavirus, Ebola, MERS and Influenza viruses it will give these organizations the ability to monitor in real time, treatments and movement of people in these regions affected by these viruses with the use of the International Health Care Card.</p>
                <p>Security is paramount, with all data and records stored on the data systems of the reclevant health organizations and relevant authorities using the VeriDoc Global Secured Solution.</p>
                <p>VeriDoc Global will not store any data or records.</p>
                <p>When a patient goes to his Doctor or hospital, the assigned medical staff scan the QR Code on the International Health Care Card and this then</p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid mb-4" src="~/assets/img/Use-cases/sub-menu-pages/sub-menu-pages/health/health-care-card.png">
                <p>gives the medical staff access to the medical history on that patient. This event is registered on the data records of that patient, all logins to these health care cards are time stamped and GPS location recorded.</p>
                <p>The Doctor can view updated data and add final recommendations or treatments administered to the patient.</p>
                <p>Medical staff can add images, genomics and medical data and reports in real time to the patients history on the blockchain network.</p>
                <p>It's an elegant and needed solution, and with todays climate VeriDoc Global wants to build trust and help those who need it most.</p>
            </div>
        </div>
        <a class="btn btn-primary custom-btn click-poc" target="_blank" asp-area="Website" asp-controller="UseCases" asp-action="HealthCareCardVerification">Click to see proof of concept</a>
        <div class="learn_more_bottom">
            <img class="img-fluid" src="~/assets/img/Use-cases/sub-menu-pages/sub-menu-pages/setting-user.png" />
            <div class="ms-3">
                <p class="mb-0">Learn more about</p>
                <span><a class="text-reset" href="#">Supply Chain Solution</a></span>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper bg_lightGray">
    <div class="container">
        <div class="section-title">
            <h4>how does the</h4>
            <h2>solution work</h2>
        </div>
        <div class="solution-img-box">
            <img class="img-fluid" src="~/assets/img/Use-cases/sub-menu-pages/sub-menu-pages/solution-img.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Change of State (CoS) technology and blockchain is at the heart of this solution. This would allow supply chain operators to control and view all changes relating to that item.</p>
            </div>
            <div class="col-md-6">
                <p>CoS technology allows customers to verify on the blockchain in real time, the full journey of a product with benefits including, including improved product safety, reduction in fraud, scams and corruption, along with increased accuracy of information about the product.</p>
            </div>
        </div>
        <div class="learn_more_bottom">
            <img class="img-fluid" src="~/assets/img/Use-cases/sub-menu-pages/sub-menu-pages/setting-user.png">
            <div class="ms-3">
                <p class="mb-0">Learn more about</p>
                <span><a class="text-reset" href="#">Supply Chain Solution</a></span>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper good-ben-sec">
    <div class="container">
        <div class="section-title text-start">
            <h4>why is this</h4>
            <h2>good for you?</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-7">
                <p>VeriDoc Global has identified multiple inefficiencies in cross-border delivery industry, which the key factors are related to lack of transparency and trust between the different providers along the way. International parcel delivery usually go through several logistics vendors, each on their side of the country, and there is a lot of accounting and interoperability interactions between the different vendors.VeriDoc Global plans to solve these issues with a blockchain technology and finished solution by taking advantage of its inherent transparency and trust.</p>
            </div>
            <div class="col-md-5 text-center">
                <img class="img-fluid" width="200" src="~/assets/img/Use-cases/sub-menu-pages/sub-menu-pages/benefit-img.png" alt="" />
            </div>
        </div>
    </div>
</section>
