

<section class="sectionWrapper bg_lightGray verification-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="verify-title">
                    <p class="mb-0">
                        Please compare the document you have scanned to the<b>
                            original document
                        </b>prepared by the issuer below. You may download the original document for your copy, and
                        verify document through blockchain.
                    </p>
                </div>
                <div class="text-center mt-4 mb-4">
                    <button class="btn btn-primary custom-btn verify-btn" type="submit">
                        <i class="far fa-link fa-rotate-90"></i> Verify on ethereum blockchain
                    </button>
                </div>
                <div class="tableWrapper">
                    <h5>Document Details</h5>
                    <div class="table-responsive">
                        <table class="table table-borderless table-striped">
                            <tbody>
                                <tr>
                                    <td width="160px">Name</td>
                                    <td>DR FRED CROWLEY</td>
                                </tr>
                                <tr>
                                    <td>National Healthcare ID No</td>
                                    <td>2547 96514</td>
                                </tr>
                                <tr>
                                    <td>ID Valid until</td>
                                    <td>08/2025</td>
                                </tr>
                                <tr>
                                    <td>Date of Birth</td>
                                    <td>Jan 1983</td>
                                </tr>
                                <tr>
                                    <td>Place of Birth</td>
                                    <td>Dar es Salaam</td>
                                </tr>
                                <tr>
                                    <td>Blood Group</td>
                                    <td>AB+</td>
                                </tr>
                                <tr>
                                    <td>Any Allergies</td>
                                    <td>Grass and tree pollen - Hay fever (allergic rhinitis)</td>
                                </tr>
                                <tr>
                                    <td>Medical Health Conditions</td>
                                    <td>Heart Disease</td>
                                </tr>
                                <tr>
                                    <td>Additional Information</td>
                                    <td>C</td>
                                </tr>
                                <tr>
                                    <td>Additional Information</td>
                                    <td>0x8fab6aad848e6d0acd7de96b8e1defdeaaa5c75c6db67d2e5c581ba08093605a</td>
                                </tr>
                                <tr>
                                    <td>Hash</td>
                                    <td>d20ebd1aa9f62e7d556515ba6895e443786b5cc6515a79d67a1d95642f988cbd</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="verify-iframe">
                    <iframe id="Desktop"
                            src="https://drive.google.com/file/d/1yZCVU_1CDfsUXUPg150mrzpXkvOa73at/preview"
                            type="application/pdf" width="100%" height="510px"></iframe>
                </div>
                <div class="text-left mt-3 mb-3">
                    <button class="btn btn-primary custom-btn verify-btn" type="submit">
                        <i class="fas fa-arrow-alt-down"></i> Download
                    </button>
                </div>
                <div class="tableWrapper">
                    <h5>Emergency Details</h5>
                    <div class="table-responsive">
                        <table class="table table-borderless table-striped">
                            <tbody>
                                <tr>
                                    <td>Next to Kin</td>
                                    <td>Maria Crowley - Sister</td>
                                </tr>
                                <tr>
                                    <td>Contact Number</td>
                                    <td>255 12345678</td>
                                </tr>
                                <tr>
                                    <td>Family Doctor</td>
                                    <td>Dr Adam Wood</td>
                                </tr>
                                <tr>
                                    <td>Doctor Contact</td>
                                    <td>255 23412342</td>
                                </tr>
                                <tr>
                                    <td>Emergency Medicine</td>
                                    <td>Amiodarone (Cordarone, Pacerone)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="tableWrapper">
            <h5>Travel History</h5>
            <div class="table-responsive p-0 bg-transparent">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th width="130px">Travel Date</th>
                            <th width="130px">Timestamp</th>
                            <th width="150px">Scanning Address</th>
                            <th width="140px">From Destination</th>
                            <th width="130px">To Destination</th>
                            <th width="130px">Any Remarks?</th>
                            <th width="130px">Actions</th>
                            <th width="130px">Verify Button</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>26/01/2020</td>
                            <td>26/01/2020 22:09:34</td>
                            <td>Airport Dr, Brisbane Airport QLD 4008</td>
                            <td>Wuhan, China</td>
                            <td>Brisbane, Australia</td>
                            <td>Tested for mild fever - Symptoms of Coronavirus</td>
                            <td>Active monitoring for 14 days</td>
                            <td>
                                <button class="btn btn-primary custom-btn verify-btn" type="submit">
                                    <i class="far fa-link fa-rotate-90"></i> Verify
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>25/01/2020</td>
                            <td>25/01/2020 16:21:56</td>
                            <td>Huangpi, Wuhan, Hubei, China</td>
                            <td>Wuhan, China</td>
                            <td>Brisbane, Australia</td>
                            <td>NIL</td>
                            <td>NIL</td>
                            <td>
                                <button class="btn btn-primary custom-btn verify-btn" type="submit">
                                    <i class="far fa-link fa-rotate-90"></i> Verify
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>14/12/2019</td>
                            <td>14/12/2019 23:11:01</td>
                            <td>14/12/2019 23:11:01</td>
                            <td>Geneva, Switzerland</td>
                            <td>Wuhan, China</td>
                            <td>Tested for Severe headache and Chest pain</td>
                            <td>High Blood Pressure, released after monitoring for 2 days</td>
                            <td>
                                <button class="btn btn-primary custom-btn verify-btn" type="submit">
                                    <i class="far fa-link fa-rotate-90"></i> Verify
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="tableWrapper">
            <h5>Dependents Information</h5>
            <div class="table-responsive p-0 border-0 bg-transparent">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Date of Birth</th>
                            <th>Gender</th>
                            <th>Birth Certificate No</th>
                            <th>Relationship with Cardholder</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img class="user-img"
                                     src="~/assets/img/Use-cases/poc/information-images/img1.jpg">
                            </td>
                            <td>Sachi Crowley</td>
                            <td>08/09/1980</td>
                            <td>Female</td>
                            <td>538987</td>
                            <td>Wife</td>
                        </tr>
                        <tr>
                            <td>
                                <img class="user-img"
                                     src="~/assets/img/Use-cases/poc/information-images/img2.jpg">
                            </td>
                            <td>Tacitus Crowley</td>
                            <td>04/11/2018 </td>
                            <td>Male</td>
                            <td>4537890</td>
                            <td>Child</td>
                        </tr>
                        <tr>
                            <td>
                                <img class="user-img"
                                     src="~/assets/img/Use-cases/poc/information-images/img3.jpg">
                            </td>
                            <td>Abimbola Crowley</td>
                            <td>26/02/2008</td>
                            <td>Female</td>
                            <td>2548987</td>
                            <td>Child</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="tableWrapper">
            <h5>Medical History</h5>
            <div class="table-responsive p-0 bg-transparent">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Recorded By</th>
                            <th>Timestamp</th>
                            <th>Scanning Address</th>
                            <th>Download Reports</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>High Blood Pressure Diagnosed</td>
                            <td>ABC Medical Centre, Geneva Dr Adam Wood (ID 1234567)</td>
                            <td>23/02/2010 18:47:28</td>
                            <td>Geneva, Switzerland</td>
                            <td>
                                <button class="btn btn-primary custom-btn verify-btn" type="submit">
                                    <i class="fas fa-arrow-alt-down"></i> Download
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Diabetes Type A Diagnosed</td>
                            <td>DEF Labs, Geneva Dr John Smith (ID 190909)</td>
                            <td>12/08/2010 12:11:11</td>
                            <td>Geneva, Switzerland</td>
                            <td>
                                <button class="btn btn-primary custom-btn verify-btn" type="submit">
                                    <i class="fas fa-arrow-alt-down"></i> Download
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Hairline Fracture - Operation</td>
                            <td>ABC Medical Centre, Geneva Dr Adam Wood (ID 1234567)</td>
                            <td>19/11/2018 22:13:48</td>
                            <td>Geneva, Switzerland</td>
                            <td>
                                <button class="btn btn-primary custom-btn verify-btn" type="submit">
                                    <i class="fas fa-arrow-alt-down"></i> Download
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Gall Bladder Removal - Surgery</td>
                            <td>XYZ Hospital, Geneva Dr Ibrahim David (ID 345345345)</td>
                            <td>30/07/2019 13:47:59</td>
                            <td>Geneva, Switzerland</td>
                            <td>
                                <button class="btn btn-primary custom-btn verify-btn" type="submit">
                                    <i class="fas fa-arrow-alt-down"></i> Download
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="tableWrapper">
            <h5>Vaccination Schedule</h5>
            <div class="table-responsive p-0 bg-transparent">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th width="140px">Required (Stage)</th>
                            <th width="130px">Vaccine Type</th>
                            <th width="160px">Description</th>
                            <th width="100px">Due By</th>
                            <th width="100px">Status</th>
                            <th width="100px">Timestamp</th>
                            <th width="150px">Scanning Address</th>
                            <th width="130px">Verify Button</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Birth (within first 2 weeks)</td>
                            <td>Hepatitis B</td>
                            <td>
                                Available at your nearest clinic. You must get this medical healthcard scanned
                                before receiving vaccination
                            </td>
                            <td>05/09/1983</td>
                            <td>Done</td>
                            <td>01/09/1983 12:47:28</td>
                            <td>Geneva, Switzerland</td>
                            <td>
                                <button class="btn btn-primary custom-btn verify-btn" type="submit">
                                    <i class="far fa-link fa-rotate-90"></i> Verify
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>2 months</td>
                            <td>HepB-DTPa_Hib_IPV Pneumococcal vaccine Rotavirus</td>
                            <td>
                                (hepatitis B, diphtheria, tetanus, acellular pertussis (whooping cough), Haemophilus
                                influenzae type B, polio)
                            </td>
                            <td>10/11/1983</td>
                            <td>Done</td>
                            <td>07/11/1983 10:27:01</td>
                            <td>Geneva, Switzerland</td>
                            <td>
                                <button class="btn btn-primary custom-btn verify-btn" type="submit">
                                    <i class="far fa-link fa-rotate-90"></i> Verify
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>6 months</td>
                            <td>HepB-DTPa_Hib_IPV Pneumococcal vaccine Rotavirus Influenza (annually)</td>
                            <td>
                                (hepatitis B, diphtheria, tetanus, acellular pertussis (whooping cough), Haemophilus
                                influenzae type B, polio) Influenza (annually) – for those with certain medical risk
                                factors 6 months and over.
                            </td>
                            <td>06/03/1984</td>
                            <td>Done</td>
                            <td>01/03/1984 15:00:19</td>
                            <td>Geneva, Switzerland</td>
                            <td>
                                <button class="btn btn-primary custom-btn verify-btn" type="submit">
                                    <i class="far fa-link fa-rotate-90"></i> Verify
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>