<section class="sectionWrapper bg_lightGray verification-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="verify-title">
                    <p class="mb-0">Please compare the document you have scanned to the<b> original document </b>prepared by the issuer below. You may download the original document for your copy, and verify document through blockchain.</p>
                </div>
                <div class="text-center mt-4 mb-4">
                    <button class="btn btn-primary custom-btn verify-btn" type="submit"><i class="far fa-link fa-rotate-90"></i> Verify on ethereum blockchain</button>
                </div>
                <div class="tableWrapper">
                    <h5>Document Details</h5>
                    <div class="table-responsive">
                        <table class="table table-borderless table-striped">
                            <tbody>
                                <tr>
                                    <td width="160px">Employee ID</td>
                                    <td>EMP423412</td>
                                </tr>
                                <tr>
                                    <td>First Name</td>
                                    <td>John</td>
                                </tr>
                                <tr>
                                    <td>Last Name</td>
                                    <td>Smith</td>
                                </tr>
                                <tr>
                                    <td>Position</td>
                                    <td>Test Analyst</td>
                                </tr>
                                <tr>
                                    <td>Date of Joining</td>
                                    <td>09/09/2019</td>
                                </tr>
                                <tr>
                                    <td>Company</td>
                                    <td>Verified Company</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="verify-iframe">
                    <iframe src="https://drive.google.com/file/d/1myNoFRxAvN0ADGD_pAD38FSH8LGiu5Qh/preview" type="application/pdf" width="100%" height="510px"></iframe>
                </div>
                <div class="text-left mt-3 mb-3">
                    <button class="btn btn-primary custom-btn verify-btn" type="submit"><i class="fas fa-arrow-alt-down"></i> Download</button>
                </div>
            </div>
        </div>
        <br>
        <div class="tableWrapper">
            <h5>Events</h5>
            <div class="table-responsive p-0 bg-transparent">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Timesheet period</th>
                            <th>Timesheet PDF Hash</th>
                            <th>Pdf</th>
                            <th>Verify</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>30/09/2019 - 06/10/2019</td>
                            <td>556be579bc3af6019af1b716b5f27caceb9592b62e1cc9e23f001ac877cd4b48</td>
                            <td><button class="btn btn-primary custom-btn verify-btn" type="submit"><i class="fas fa-arrow-alt-down"></i> Download</button></td>
                            <td><button class="btn btn-primary custom-btn verify-btn" type="submit"><i class="far fa-link fa-rotate-90"></i> Verify</button></td>
                        </tr>
                        <tr>
                            <td>30/09/2019 - 06/10/2019</td>
                            <td>556be579bc3af6019af1b716b5f27caceb9592b62e1cc9e23f001ac877cd4b48</td>
                            <td><button class="btn btn-primary custom-btn verify-btn" type="submit"><i class="fas fa-arrow-alt-down"></i> Download</button></td>
                            <td><button class="btn btn-primary custom-btn verify-btn" type="submit"><i class="far fa-link fa-rotate-90"></i> Verify</button></td>
                        </tr>
                        <tr>
                            <td>30/09/2019 - 06/10/2019</td>
                            <td>556be579bc3af6019af1b716b5f27caceb9592b62e1cc9e23f001ac877cd4b48</td>
                            <td><button class="btn btn-primary custom-btn verify-btn" type="submit"><i class="fas fa-arrow-alt-down"></i> Download</button></td>
                            <td><button class="btn btn-primary custom-btn verify-btn" type="submit"><i class="far fa-link fa-rotate-90"></i> Verify</button></td>
                        </tr>
                        <tr>
                            <td>30/09/2019 - 06/10/2019</td>
                            <td>556be579bc3af6019af1b716b5f27caceb9592b62e1cc9e23f001ac877cd4b48</td>
                            <td><button class="btn btn-primary custom-btn verify-btn" type="submit"><i class="fas fa-arrow-alt-down"></i> Download</button></td>
                            <td><button class="btn btn-primary custom-btn verify-btn" type="submit"><i class="far fa-link fa-rotate-90"></i> Verify</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
