
<section class="sectionWrapper bg_lightGray">
    <div class="container">
        <div class="progress-verification-sec">
            <h4>Document Verification</h4>
            <div class="progressWrapper">
                <ul class="stepProgress">
                    <li class="stepProgress-item is-done">
                        <h5>Step 1</h5>
                        <p>Retrieving document from client’s server.</p>
                    </li>
                    <li class="stepProgress-item is-done">
                        <h5>Step 2</h5>
                        <p>Retrieving unique hash value from document.</p>
                    </li>
                    <li class="stepProgress-item is-done">
                        <h5>Step 3</h5>
                        <p>Retrieving unique hash value from VeriDoc Global’s server.</p>
                    </li>
                    <li class="stepProgress-item is-done">
                        <h5>Step 4</h5>
                        <p>Retrieving unique hash value from blockchain.</p>
                    </li>
                    <li class="stepProgress-item is-done">
                        <h5>Step 5</h5>
                        <p>
                            Unique hash values match. Please compare the document you have scanned to the original
                            document prepared by the issuer on the next screen
                        </p>
                    </li>
                </ul>
                <div class="text-center">
                    <button class="btn btn-primary custom-btn click-poc" type="submit">Continue</button>
                </div>
            </div>

        </div>
    </div>
</section>
