
<section class="section-banner useCase-bg">
    <div class="textOverImage container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="section-title text-start">
                    <h4>solution</h4>
                    <h2>Supply chain</h2>
                    <h4>Sourcenets in collaboration with  veridoc global verification</h4>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <img class="img-fluid" src="~/assets/img/team/solution-icon/icon2.svg">
            </div>
        </div>
    </div>
</section>

<section class="poc-sec bg_darkBlue">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3">
                <h4>Proof of Concept:</h4>
            </div>
            <div class="col-md-9">
                <div class="d-flex">
                    <div class="poc-content">
                        <a asp-area="Website" asp-controller="UseCases" asp-action="DeliveryDistribution" alt="">
                            <img class="img-fluid" src="~/assets/img/Use-cases/poc/supplychain/courier-box.svg"
                                 alt="">
                            <p>Delivery and Distribution</p>
                        </a>
                    </div>
                    <div class="poc-content">
                        <a asp-area="Website" asp-controller="UseCases" asp-action="ExpressShipping" alt="">
                            <img class="img-fluid" src="~/assets/img/Use-cases/poc/supplychain/express-post.svg"
                                 alt="">
                            <p>Express Post Shipping</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="section-title text-start">
                    <h4>Introduction to</h4>
                    <h2>Supply Chain</h2>
                </div>
                <p>Supply chains can be complicated.</p>
                <p>
                    Imagine for a moment that a manufacturer uses the wrong design specs, a supplier mixes up two
                    different orders or a raw material causes a bad batch of products that need to be recalled. On
                    top of that, billions of dollars in cash flow are now tied up while the problem is being
                    rectified plus the 60-day payment terms.
                </p>
                <p>
                    The effects of poorly managed supply chains continue to trouble businesses today. On May 10th of
                    2016, hoverboards were exploding all over the world. A number of incidents of the boards
                    catching fire led to major retailers such as Amazon and Target issuing refunds and telling
                    customers to trash them. Airlines were banning them and some cities were even banning
                    hoverboards from roads and sidewalks. It is was later found that the batteries in the boards
                    were defective and causing the fires.
                </p>
                <p>
                    VeriDoc Global has developed a supply chain solution that leverages blockchain technology and
                    smart contracts. Our system verifies that each step in the supply chain has registered a
                    “digital handshake” that marks exactly when and where the goods have changed hands. This makes
                    it clear who is liable for products every step of the way.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img class="img-fluid" src="~/assets/img/Use-cases/page-img/supplychain.svg" alt="" />
                <div class="col-md-12 mt-4">
                    <a class="btn btn-4" asp-area="Website" asp-controller="ContactUs" asp-action="Index">Free Trial</a>
                </div>
            </div>

        </div>
    </div>
</section>



<section class="sectionWrapper bg_green poc-green-sec">
    <div class="container">
        <div class="section-title">
            <h2 class="text-white">proof of concept</h2>
            <h5>You may test our proof of concept for yourself.</h5>
        </div>
        <div class="upper-part">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <p>
                        Blockchain can increase the efficiency and transparency of supply chains and positively
                        impact everything from warehousing, delivery, and payment.
                    </p>
                    <p>
                        The vital things that are necessary for reliability and integrity in a supply chain, are
                        provided by the blockchain. Blockchain provides consensus on the data, there is no dispute
                        in the chain regarding transactions because all entities on the chain have the same version
                        of the ledger. Everyone on the blockchain can see the chain of ownership for an asset on the
                        blockchain. Records on the blockchain cannot be erased which is important for a transparent
                        supply chain.
                    </p>
                    <p>
                        You're able to test it out and scan the QR codes yourself on your smartphone to see the
                        technology working for yourself.
                    </p>
                    <p>
                        Don’t have a QR code reader to find out? Download the VeriDoc Global QR code reader here for
                        free:
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid" src="~/assets/img/Use-cases/poc/supplychain/courier-box.svg" />
                </div>
            </div>
        </div>

        <div class="lower-part">
            <div class="row">
                <div class="col-md-4">
                    <p>Download <br> Document Sample</p>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <img src="~/assets/img/Use-cases/poc/sample-button.svg" alt="">SAMPLE
                    </button>
                </div>
                <div class="col-md-4">
                    <p>Download our VeriDoc Global <br> QR code reader application.</p>
                    <div class="d-flex">
                        <a href="https://itunes.apple.com/us/app/veri-doc-global/id1425726642?mt=8">
                            <img class="img-fluid"
                                 src="~/assets/img/Use-cases/poc/apple-store.png">
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.veriloginqr.android">
                            <img class="img-fluid"
                                 src="~/assets/img/Use-cases/poc/play-store.png">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <p>Test our proof of concept <br> for yourself.</p>
                    <button type="button" onclick="location.href='https://my.veridocglobal.com/register';" cr-partlass="btn btn-light">TEST TODAY</button>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- modal start -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <embed src="../Sourcenets Company Overview 2.pdf" frameborder="0" width="100%" height="800px" max-height="100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn custom-btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- modal end -->

<section class="sectionWrapper bg_darkBlue">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-title text-start">
                    <h4 class="text-white text-capitalize">How does the VeriDoc Global</h4>
                    <h2 class="text-white">Solution Work?</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="embed-responsive">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/407884318"
                            allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper bg_lightGray key-feature-sec">
    <div class="container">
        <div class="section-title">
            <h4>what are our</h4>
            <h2>key features</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/Use-cases/key-feature/icon1.svg" />
                    <h5 class="text_red">FOREFRONT OF SECURITY</h5>
                    <p>
                        Data is immutable on blockchain and can’t be breached via an attack on a single server or
                        database.
                    <p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/Use-cases/key-feature/icon2.svg" />
                    <h5 class="text_red">REDUCTION IN COSTS</h5>
                    <p>
                        Hospitals, Clinics, Doctors and healthcare professionals can save time and costs with supply
                        chain and inventory advancements that blockchain can provide.
                    <p>
                </figure>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="~/assets/img/Use-cases/key-feature/icon3.svg" />
                    <h5 class="text_red">INCREASED SAFETY</h5>
                    <p>Increases the speed in which problems can be identified and products can be recalled.
                    <p>
                </figure>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper veridoc-global-sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="section-title text-start">
                    <h4>VERIDOC GLOBAL</h4>
                    <h2>SOLUTION</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            VeriDoc Global has developed a solution that involves embedding a QR code on an item with
                            a unique digital hash inside the QR code. The hash holds a string of information that is
                            then placed on the blockchain network for security, verification and most important end
                            user validation. Using a QR code reading app, customers can scan the QR code on the item
                            once it has been delivered to them to verify the authenticity of items.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            Throughout the shipping process, the QR code can be updated with information verifying
                            when and where the product has changed hands. Using any QR code reading app, scan the QR
                            code on the pharmaceuticals and the app will show you the true document produced by the
                            issuer. This allows you to compare and see if the pharmaceuticals is an original or a
                            fake.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <img class="img-fluid" src="~/assets/img/Use-cases/phone-qr.svg" />
            </div>
        </div>
    </div>
</section>



<section class="sectionWrapper flowchart-pb">
    <div class="container">
        <div class="section-title">
            <h4>this is our</h4>
            <h2>supply chain<br> manufacture flow</h2>
        </div>
    </div>
    <div class="laptopView creator-flow-sec">
        <div class="creator-left">
            <img class="img-fluid" src="~/assets/img/Use-cases/flow-left.svg" />
        </div>
        <div class="creator-right">
            <figure class="creator-strip1">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h6>CREATE AN ITEM</h6>
                        <p>Manufacturer creates an item.</p>
                    </div>
                    <div class="col-3">
                        <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/supply-creator1.svg">
                    </div>
                </div>
            </figure>
            <figure class="creator-strip2">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h6>generate qr code</h6>
                        <p>
                            VeriDoc Global generates a QR code that contains a unique hash value with information
                            about the item.
                        </p>
                    </div>
                    <div class="col-3">
                        <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/gen-qr-code.svg">
                    </div>
                </div>
            </figure>
            <figure class="creator-strip3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h6>GENERATE PDF IN CLIENT’S SECURED SERVER</h6>
                        <p>
                            VeriDoc Global generates a PDF from the new document and stores this on the client’s
                            secured server.
                        </p>
                    </div>
                    <div class="col-3">
                        <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/qr-code-pdf.svg">
                    </div>
                </div>
            </figure>
            <figure class="creator-strip4">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h6>generate unique hash value on blockchain</h6>
                        <p>The information is placed on the blockchain.</p>
                    </div>
                    <div class="col-3">
                        <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/unique-hash.svg">
                    </div>
                </div>
            </figure>
            <figure class="creator-strip5">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h6>POPULATE THE DATABASE</h6>
                        <p>
                            VeriDoc Global populates a database with the unique hash value, blockchain transaction
                            (to preview the original International Health Care Card).
                        </p>
                    </div>
                    <div class="col-3">
                        <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/handshake_1.svg">
                    </div>
                </div>
            </figure>
        </div>
    </div>
    <div class="mobileView container">
        <div class="mobile_timeline">
            <div class="d-flex creator-right align-items-center">
                <div class="mobile_entry">
                    <div class="mobile_core">
                        <span>STEP</span>
                        <h5>01</h5>
                    </div>
                </div>
                <figure class="creator-strip1">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h6>CREATE AN ITEM</h6>
                            <p>Manufacturer creates an item.</p>
                        </div>
                        <div class="col-3">
                            <img class="img-fluid"
                                 src="~/assets/img/Use-cases/flow-chart-icon/supply-creator1.svg">
                        </div>
                    </div>
                </figure>
            </div>
            <div class="d-flex creator-right align-items-center">
                <div class="mobile_entry">
                    <div class="mobile_core">
                        <span>STEP</span>
                        <h5>02</h5>
                    </div>
                </div>
                <figure class="creator-strip2">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h6>generate qr code</h6>
                            <p>
                                VeriDoc Global generates a QR code that contains a unique hash value with information
                                about the item.
                            </p>
                        </div>
                        <div class="col-3">
                            <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/gen-qr-code.svg">
                        </div>
                    </div>
                </figure>
            </div>
            <div class="d-flex creator-right align-items-center">
                <div class="mobile_entry">
                    <div class="mobile_core">
                        <span>STEP</span>
                        <h5>03</h5>
                    </div>
                </div>
                <figure class="creator-strip3">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h6>GENERATE PDF IN CLIENT’S SECURED SERVER</h6>
                            <p>
                                VeriDoc Global generates a PDF from the new document and stores this on the client’s
                                secured server.
                            </p>
                        </div>
                        <div class="col-3">
                            <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/qr-code-pdf.svg">
                        </div>
                    </div>
                </figure>
            </div>
            <div class="d-flex creator-right align-items-center">
                <div class="mobile_entry">
                    <div class="mobile_core">
                        <span>STEP</span>
                        <h5>04</h5>
                    </div>
                </div>
                <figure class="creator-strip4">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h6>generate unique hash value on blockchain</h6>
                            <p>The information is placed on the blockchain.</p>
                        </div>
                        <div class="col-3">
                            <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/unique-hash.svg">
                        </div>
                    </div>
                </figure>
            </div>
            <div class="d-flex creator-right align-items-center">
                <div class="mobile_entry">
                    <div class="mobile_core">
                        <span>STEP</span>
                        <h5>05</h5>
                    </div>
                </div>
                <figure class="creator-strip5">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h6>POPULATE THE DATABASE</h6>
                            <p>
                                VeriDoc Global populates a database with the unique hash value, blockchain
                                transaction (to preview the original International Health Care Card).
                            </p>
                        </div>
                        <div class="col-3">
                            <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/handshake_1.svg">
                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>



<section class="sectionWrapper flowchart-pt">
    <div class="container">
        <div class="section-title">
            <h4>this is our</h4>
            <h2>supply chain<br> customer flow</h2>
        </div>
    </div>
    <div class="laptopView reader-flow-sec">
        <div class="reader-left">
            <figure class="reader-strip1">
                <div class="row align-items-center">
                    <div class="col-3">
                        <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/qrcode-reader.svg">
                    </div>
                    <div class="col-9">
                        <h6>QR CODE READER</h6>
                        <p>Item is scanned using any QR code reader.</p>
                    </div>
                </div>
            </figure>
            <figure class="reader-strip2">
                <div class="row align-items-center">
                    <div class="col-3">
                        <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/pass-create_1.svg">
                    </div>
                    <div class="col-9">
                        <h6>PREVIEW ORIGINAL HEALTH CARE CARD</h6>
                        <p>
                            User is redirected to a secure VeriDoc Global webpage that displays the unique hash
                            value, original International Health Care Card.
                        </p>
                    </div>
                </div>
            </figure>
            <figure class="reader-strip3">
                <div class="row align-items-center">
                    <div class="col-3">
                        <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/qr-code-added.svg">
                    </div>
                    <div class="col-9">
                        <h6>VISUAL INSPECTION</h6>
                        <p>
                            User validates the authenticity of the International Health Care Card by visual
                            inspection.
                        </p>
                    </div>
                </div>
            </figure>
            <figure class="reader-strip4">
                <div class="row align-items-center">
                    <div class="col-3">
                        <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/unique-hash.svg">
                    </div>
                    <div class="col-9">
                        <h6>VALIDATE HASH VALUE ON BLOCKCHAIN</h6>
                        <p>
                            User may validate the unique hash value on the blockchain and verify that the hash values
                            are identical.
                        </p>
                    </div>
                </div>
            </figure>
            <figure class="reader-strip5">
                <div class="row align-items-center">
                    <div class="col-3">
                        <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/handshake.svg">
                    </div>
                    <div class="col-9">
                        <h6>INFORMATION UPDATE</h6>
                        <p>
                            The QR code can be updated with additional information showing that a person has less
                            points available on their driver’s licence due to speeding offences (optional).
                        </p>
                    </div>
                </div>
            </figure>
        </div>
        <div class="reader-right text-end">
            <img class="img-fluid" src="~/assets/img/Use-cases/flow-right.svg">
        </div>
    </div>
    <div class="mobileView container reader_flow">
        <div class="mobile_timeline">
            <div class="d-flex reader-left align-items-center">
                <figure class="reader-strip1">
                    <div class="row align-items-center">
                        <div class="col-3">
                            <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/qrcode-reader.svg">
                        </div>
                        <div class="col-9">
                            <h6>QR CODE READER</h6>
                            <p>Item is scanned using any QR code reader.</p>
                        </div>
                    </div>
                </figure>
                <div class="mobile_entry">
                    <div class="mobile_core">
                        <span>STEP</span>
                        <h5>01</h5>
                    </div>
                </div>
            </div>
            <div class="d-flex reader-left align-items-center">
                <figure class="reader-strip2">
                    <div class="row align-items-center">
                        <div class="col-3">
                            <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/pass-create_1.svg">
                        </div>
                        <div class="col-9">
                            <h6>PREVIEW ORIGINAL HEALTH CARE CARD</h6>
                            <p>
                                User is redirected to a secure VeriDoc Global webpage that displays the unique hash
                                value, original International Health Care Card.
                            </p>
                        </div>
                    </div>
                </figure>
                <div class="mobile_entry">
                    <div class="mobile_core">
                        <span>STEP</span>
                        <h5>02</h5>
                    </div>
                </div>
            </div>
            <div class="d-flex reader-left align-items-center">
                <figure class="reader-strip3">
                    <div class="row align-items-center">
                        <div class="col-3">
                            <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/qr-code-added.svg">
                        </div>
                        <div class="col-9">
                            <h6>VISUAL INSPECTION</h6>
                            <p>
                                User validates the authenticity of the International Health Care Card by visual
                                inspection.
                            </p>
                        </div>
                    </div>
                </figure>
                <div class="mobile_entry">
                    <div class="mobile_core">
                        <span>STEP</span>
                        <h5>03</h5>
                    </div>
                </div>
            </div>
            <div class="d-flex reader-left align-items-center">
                <figure class="reader-strip4">
                    <div class="row align-items-center">
                        <div class="col-3">
                            <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/unique-hash.svg">
                        </div>
                        <div class="col-9">
                            <h6>VALIDATE HASH VALUE ON BLOCKCHAIN</h6>
                            <p>
                                User may validate the unique hash value on the blockchain and verify that the hash
                                values are identical.
                            </p>
                        </div>
                    </div>
                </figure>
                <div class="mobile_entry">
                    <div class="mobile_core">
                        <span>STEP</span>
                        <h5>04</h5>
                    </div>
                </div>
            </div>
            <div class="d-flex reader-left align-items-center">
                <figure class="reader-strip5">
                    <div class="row align-items-center">
                        <div class="col-3">
                            <img class="img-fluid" src="~/assets/img/Use-cases/flow-chart-icon/handshake.svg">
                        </div>
                        <div class="col-9">
                            <h6>INFORMATION UPDATE</h6>
                            <p>
                                The QR code can be updated with additional information showing that a person has less
                                points available on their driver’s licence due to speeding offences (optional).
                            </p>
                        </div>
                    </div>
                </figure>
                <div class="mobile_entry">
                    <div class="mobile_core">
                        <span>STEP</span>
                        <h5>05</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
