
<section class="sectionWrapper bg_lightGray verification-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="verify-title">
                    <p class="mb-0">
                        Please compare the document you have scanned to the<b>
                            original document
                        </b>prepared by the issuer below. You may download the original document for your copy, and
                        verify document through blockchain.
                    </p>
                </div>
                <div class="text-center mt-4 mb-4">
                    <button class="btn btn-primary custom-btn verify-btn" type="submit">
                        <i class="far fa-link fa-rotate-90"></i> Verify on ethereum blockchain
                    </button>
                </div>
                <div class="tableWrapper">
                    <h5>Document Details</h5>
                    <div class="table-responsive">
                        <table class="table table-borderless table-striped">
                            <tbody>
                                <tr>
                                    <td width="160px">Aina?Type/ Type</td>
                                    <td>P</td>
                                </tr>
                                <tr>
                                    <td>Nohi/Country/Pays</td>
                                    <td>TZA</td>
                                </tr>
                                <tr>
                                    <td>Namba ya Pasipoti/Passport No/No. Passport</td>
                                    <td>TAE 029461</td>
                                </tr>
                                <tr>
                                    <td>Jina la ukoo/Surname/Nom</td>
                                    <td>ANNA LEE</td>
                                </tr>
                                <tr>
                                    <td>Uraifa/Nationality/Nationalite</td>
                                    <td>TANZANIAN</td>
                                </tr>
                                <tr>
                                    <td>Tarahe ya kurailwa/Date of borth/Date de Naisance</td>
                                    <td>22 JUNE 1993</td>
                                </tr>
                                <tr>
                                    <td>Jinsia/Sex/Sexe</td>
                                    <td>F</td>
                                </tr>
                                <tr>
                                    <td>Mahali pa Kuzalwa/Place of birth/Lieu de Nissance</td>
                                    <td>ILALA</td>
                                </tr>
                                <tr>
                                    <td>Tairehe ya kutoeiwa/Date of Issue/Date de deliverance</td>
                                    <td>08 JUN 18</td>
                                </tr>
                                <tr>
                                    <td>Tarehe ya Mwisho wa Matumiz/Date of expirty/ Date d’ expiration</td>
                                    <td>07 JUN 18</td>
                                </tr>
                                <tr>
                                    <td>Mamiaka ilyota/Issuing Authority / Autorite’ de Deliverence</td>
                                    <td>PCO, DAR ES SALAAM</td>
                                </tr>
                                <tr>
                                    <td>Transaction Id</td>
                                    <td>0x8fab6aad848e6d0acd7de96b8e1defdeaaa5c75c6db67d2e5c581ba08093605a</td>
                                </tr>
                                <tr>
                                    <td>Hash</td>
                                    <td>d20ebd1aa9f62e7d556515ba6895e443786b5cc6515a79d67a1d95642f988cbd</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="verify-iframe">
                    <iframe src="https://drive.google.com/file/d/1VGGMehLqC-NMUCOMBDfapujlxwdT14rV/preview"
                            type="application/pdf" width="100%" height="600px"></iframe>
                </div>
                <div class="text-left mt-3 mb-3">
                    <button class="btn btn-primary custom-btn verify-btn" type="submit">
                        <i class="fas fa-arrow-alt-down"></i> Download
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
