

<section class="sectionWrapper bg_lightGray">
    <div class="container">
        <div class="message-successful">
            <img class="img-fluid" src="~/assets/img/header-logo.svg" alt="Your Flow">
            <span><i class="fas fa-check-circle"></i></span>
            <div class="section-title">
                <h2 class="text-capitalize">Verification Was Successful</h2>
            </div>
            <button class="btn btn-primary custom-btn click-poc mt-0" type="submit">Continue</button>
        </div>
    </div>
</section>
