
<section class="section-banner technology-bg">
    <div class="textOverImage container">
        <div class="row align-items-center">
            <div class="col-sm-5">
                <div class="section-title text-start">
                    <h4>
                        VeriDoc Global has developed a verification protocol which combines anti-fraud software with
                        Distributed Ledger Technology (DLT).
                    </h4>
                    <h2 class="mt-2">TECHNOLOGY</h2>
                </div>
            </div>
            <div class="col-sm-7 text-center">
                <img class="img-fluid transform-img" src="~/assets/img/technology/page-image.svg">
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper technology-desc">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <figure>
                    <h3><b class="text_red">Most systems today</b> are built on centralised networks.</h3>
                    <h4>This means that data is stored using a client-server configuration.</h4>
                </figure>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-md-5">
                <img class="img-fluid" src="~/assets/img/technology/blockchain-img.svg" />
            </div>
            <div class="col-md-7">
                <figure>
                    <h3>
                        <b class="text_red">Blockchain technology uses a decentralised network configuration.</b>
                        Data is replicated and stored on every machine that acts as a node in the peer-to-peer
                        network.
                    </h3>
                    <h4>
                        The larger this network, the harder it is to hack the system. You would need to hack
                        multiple computers at once to be able to alter or change the data, compared to a single
                        server which can be targeted.
                    </h4>
                </figure>
            </div>
        </div>
    </div>
</section>



<section class="sectionWrapper smartlogin-sec technology-key bg_lightyellow">
    <div class="container">
        <h5>Other characteristics tied to blockchain technology include:</h5>
        <div class="row">
            <div class="col-12 col-lg-6 col-xl">
                <figure>
                    <img class="img-fluid" src="~/assets/img/technology/key-point/immutable.svg">
                    <p class="text-white">Immutable</p>
                </figure>
            </div>
            <div class="col-12 col-lg-6 col-xl">
                <figure>
                    <img class="img-fluid" src="~/assets/img/technology/key-point/incorruptible.svg">
                    <p class="text-white">Incorruptible</p>
                </figure>
            </div>
            <div class="col-12 col-lg-6 col-xl">
                <figure>
                    <img class="img-fluid" src="~/assets/img/technology/key-point/self-patching.svg">
                    <p class="text-white">Self-patching</p>
                </figure>
            </div>
            <div class="col-12 col-lg-6 col-xl">
                <figure>
                    <img class="img-fluid" src="~/assets/img/technology/key-point/self-scaling.svg">
                    <p class="text-white">Self-scaling</p>
                </figure>
            </div>
            <div class="col-12 col-lg-6 col-xl">
                <figure>
                    <img class="img-fluid" src="~/assets/img/technology/key-point/no-point.svg">
                    <p class="text-white">No single point of failure</p>
                </figure>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper hash-sec bg_green">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img class="img-fluid" src="~/assets/img/technology/unique-hash-img.svg" />
            </div>
            <div class="col-md-6">
                <div class="section-title">
                    <h2 class="text-white">Unique Hash Value</h2>
                </div>
                <p class="text-white">
                    The VeriDoc Protocol uses a unique hash value to verify whether a document is
                    true and correct. Hash values can be compared to the DNA or fingerprint of a file, whereby no
                    two hash values are the same. The original document is processed through a cryptographic
                    algorithm and a hash value is produced which identifies the original document. If the document
                    is modified in any way, the value of the hash will also change significantly.
                </p>
                <p class="text-white">
                    <i>
                        Using a cryptographic algorithm means that customers are not required to
                        store the original document on the blockchain and their information remains private.
                    </i>
                </p>
            </div>
        </div>
    </div>
</section>


<section class="sectionWrapper">
    <div class="container">
        <div class="section-title">
            <h2>QR Codes</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    QR codes are a type of matrix barcode or two-dimensional barcode. A standard QR code can hold up
                    to 3Kb of data, compared to a standard barcode which holds less than 100 characters.
                </p>
                <p>
                    The VeriDoc Global Protocol allows users to verify whether a document is true and correct by
                    simply scanning a QR code on the document.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    Once the QR code is scanned, VeriDoc compares the unique hash value found in the QR code to the
                    unique hash value of the original document stored on the client’s server and the blockchain.
                </p>
                <p class="text_red">
                    <b>
                        <i>
                            Since the unique hash value stored in the blockchain is incorruptible and
                            can never be modified, it lends itself as a highly trusted reference point for the
                            verification process.
                        </i>
                    </b>
                </p>
            </div>
        </div>
        <img class="img-fluid" width="100%" src="~/assets/img/technology/qr-code-img.svg" />
    </div>
</section>


<section class="sectionWrapper multichain-sec bg_green">
    <div class="container">
        <div class="section-title">
            <h2 class="text-white">A Multi-chain Solution</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="text-white">
                    VeriDoc Global leverages several different blockchains to give customers more
                    control over their data.
                </p>
                <p class="text-white">
                    The primary blockchain used by VeriDoc Global Protocol is the Ethereum
                    network.
                </p>
            </div>
            <div class="col-md-6">
                <p class="text-white">
                    Ethereum is currently the second largest public blockchain in the world and is
                    backed by the Ethereum Enterprise Alliance (EEA) which consists of over 500 members including
                    Microsoft, IBM, Deloitte, Toyota and HP.
                </p>
            </div>
        </div>
        <div class="embed-responsive">
            <iframe src="https://www.youtube.com/embed/ikcaVmDimXk?rel=0" allowfullscreen=""></iframe>
        </div>
        <p class="text-white">
            VeriDoc Global has since expanded into Ethereum Classic, Bitcoin and is now also
            looking at integrating into several private and hybrid blockchain networks. Customers can choose which
            blockchains they wish to store their unique hash values on and will soon have the option to leverage
            multiple blockchains at once.
        </p>
        <br>
        <div class="text-center">
            <img class="img-fluid" width="80%" src="assets/img/technology/map-img.svg" />
        </div>
    </div>
</section>


<section class="sectionWrapper">
    <div class="container">
        <div class="section-title">
            <h2>Storage of Documents</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    All documents are stored on the client’s server. VeriDoc Global uses APIs to generate the unique
                    hash value and to check whether the document on the client’s server has been changed. If the
                    original document on the client’s server is modified in any way, the verification process will
                    fail.
                </p>
                <p>
                    VeriDoc Global has also integrated with cloud-based systems such as Google Drive, giving
                    customers more options for storing their personal information.
                </p>
            </div>
            <div class="col-md-6">
                <p class="text_red">
                    <b>
                        <i>
                            The VeriDoc Protocol only requires the unique hash value to verify whether
                            a document is true and correct. Unless requested by the customer, the original document
                            is never placed on the blockchain.
                        </i>
                    </b>
                </p>
            </div>
        </div>
        <img class="img-fluid" src="~/assets/img/technology/api-img.svg" />
    </div>
</section>



<section class="sectionWrapper multichain-sec bg_green">
    <div class="container">
        <div class="section-title">
            <h2 class="text-white">Blockchain Transactions</h2>
        </div>
        <p class="text-white">
            Transacting with a blockchain typically requires payment in the form of
            cryptocurrency. The Ethereum blockchain uses Ether which is converted to Gas to pay for transactions.
        </p>
        <div class="embed-responsive">
            <iframe src="https://www.youtube.com/embed/m3loMJNsQFc?rel=0" allowfullscreen=""></iframe>
        </div>
        <p class="text-white">
            Since VeriDoc Global is a multi-chain solution, it would be impractical for customers
            to pay to use this solution using several different coins and tokens. Therefore, VeriDoc Global has
            introduced VDG, an ERC-20 token with utility characteristics to pay the required toll across several
            different blockchains at once.
        </p>
    </div>
</section>


<section class="sectionWrapper">
    <div class="container">
        <div class="section-title">
            <h2>Beyond Unique Hash Values,<br> QR Codes and Blockchain</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    VeriDoc Global is currently working on adding Artificial Intelligence (AI) to the verification
                    solution. This will allow users to view a report of all the changes made to a document.
                    Generating a report on all changes made to a 150-page document will save companies time and
                    money on paralegal services.
                </p>
                <p>
                    VeriDoc Global is currently working on adding Artificial Intelligence (AI) to the verification
                    solution. This will allow users to view a report of all the changes made to a document.
                    Generating a report on all changes made to a 150-page document will save companies time and
                    money on paralegal services.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    in two different locations at the same time, the system will know that one of those products is a
                    counterfeit and that the QR code has been compromised. Using technology to stop that QR code
                    from being verified again will potentially stop thousands of counterfeits from entering the
                    market.
                </p>
            </div>
        </div>
    </div>
</section>
